@(errorText:String, errorTitle:String="Oops! Something went wrong.", statusCode:Int=500)(implicit messages: Messages)

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @statusCode @messages("error.header")
    </h1>
</section>

    <!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-red">@statusCode</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> @errorTitle</h3>
            <p>
                @if(statusCode == 500) {
                    @messages("error.immediate")<br/>
                }
                @messages("error.start")<br/>
                @messages("error.title") @errorText
            </p>
        </div>
    </div><!-- /.error-page -->
</section><!-- /.content -->
