@import org.maproulette.session.User
@(user:User, debugMode:Boolean)(implicit req: play.api.mvc.RequestHeader, webJarAssets: WebJarAssets)
@minified() = {@{debugMode match { case true => ""; case false => ".min" }}}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<![if lt IE 9]>
    <script src="@routes.WebJarAssets.at(webJarAssets.locate(s"html5shiv${minified()}.js"))"></script>
    <script src="@routes.WebJarAssets.at(webJarAssets.locate(s"respond${minified()}.js"))"></script>
<![endif]>

    <!-- REQUIRED JS SCRIPTS -->
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"js.cookie.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"marked.min.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"jquery${minified()}.js"))"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"bootstrap${minified()}.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"toastr.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"js/jquery.dataTables${minified()}.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"js/dataTables.bootstrap${minified()}.js"))"></script>
<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    <!-- AdminLTE App -->
<script src="@routes.Assets.versioned(s"AdminLTE/app${minified()}.js")"></script>

    <!-- Embedded Javascript router -->
@helper.javascriptRouter("jsRoutes")(
    routes.javascript.AuthController.generateAPIKey,
    routes.javascript.AuthController.deleteUser,
    routes.javascript.AuthController.addUserToProject,
    routes.javascript.Application.error,
    routes.javascript.Application.mapChallenge,
    routes.javascript.Application.challengeMetrics,
    routes.javascript.FormEditController.rebuildChallenge,
    org.maproulette.controllers.api.routes.javascript.ProjectController.delete,
    org.maproulette.controllers.api.routes.javascript.ChallengeController.delete,
    org.maproulette.controllers.api.routes.javascript.SurveyController.delete,
    org.maproulette.controllers.api.routes.javascript.ProjectController.find,
    org.maproulette.controllers.api.routes.javascript.ChallengeController.find,
    org.maproulette.controllers.api.routes.javascript.SurveyController.find,
    org.maproulette.controllers.api.routes.javascript.ChallengeController.getChallenge,
    org.maproulette.controllers.api.routes.javascript.ProjectController.read,
    org.maproulette.controllers.api.routes.javascript.ChallengeController.read,
    org.maproulette.controllers.api.routes.javascript.SurveyController.read,
    org.maproulette.controllers.api.routes.javascript.TagController.getTags,
    org.maproulette.controllers.api.routes.javascript.TaskController.setTaskStatus,
    org.maproulette.controllers.api.routes.javascript.DataController.getChallengeSummary,
    org.maproulette.controllers.api.routes.javascript.DataController.getChallengeSummaries,
    org.maproulette.controllers.api.routes.javascript.SurveyController.answerSurveyQuestion,
    org.maproulette.controllers.api.routes.javascript.DataController.getChallengeActivity,
    org.maproulette.controllers.api.routes.javascript.DataController.getProjectActivity,
    org.maproulette.controllers.api.routes.javascript.DataController.getProjectSummary,
    org.maproulette.controllers.api.routes.javascript.DataController.getUserSummary,
    org.maproulette.controllers.api.routes.javascript.DataController.getUserChallengeSummary,
    org.maproulette.controllers.api.routes.javascript.ChallengeController.getChallengeGeoJSON,
    org.maproulette.controllers.api.routes.javascript.ChallengeController.getClusteredPoints,
    org.maproulette.controllers.api.routes.javascript.ProjectController.getClusteredPoints,
    org.maproulette.controllers.api.routes.javascript.ProjectController.getSearchedClusteredPoints,
    routes.javascript.MappingController.getTaskDisplayGeoJSON,
    routes.javascript.MappingController.getSequentialNextTask,
    routes.javascript.MappingController.getSequentialPreviousTask
)
<script type="text/javascript">
    var currentAPIKey = '@user.apiKey';
</script>

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
