@import org.maproulette.session.User
@import org.maproulette.models.Challenge
@(user:User, parentId:Long, challenges:List[Challenge], search:Option[String]=None)(implicit messages: Messages)

<div class="box-body">
    <div class="pull-right">
        <a href="@routes.FormEditController.challengeFormUI(parentId, -1)">
            <button class="btn-xs btn-block btn-primary">New Challenge</button>
        </a>
    </div>
    <table id="challengeTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Enabled</th>
                <th>ID</th>
                <th>Name</th>
                <th>Identifier</th>
                <th>Tasks All/Fixed/FalsePositive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @if(challenges.nonEmpty) {
            @for(c <- challenges) {
                <tr>
                    <td>
                    @if(c.enabled) {
                        <i class="fa fa-check-circle-o fa-2x" style="color:green"/>
                    } else {
                        <i class="fa fa-times-circle-o fa-2x" style="color:red"/>
                    }
                    </td>
                    <td>@c.id</td>
                    <td>@c.name</td>
                    <td>@c.identifier</td>
                    <td>0/0/0</td>
                    <td>
                        <div class="pull-left">
                            <a href="@routes.FormEditController.challengeFormUI(c.parent, c.id)">
                                <button class="btn-xs btn-block btn-warning">Edit</button>
                            </a>
                        </div>
                        <div class="pull-left">
                            <button class="btn-xs btn-block btn-danger" onclick="javascript:deleteChallenge(@c.id);">Delete</button>
                        </div>
                        <div class="pull-left">
                            <a href="#">
                                <button class="btn-xs btn-block btn-success">Start</button>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        } else {
            <td>No Challenges Found</td>
        }
        </tbody>
        <tfoot>
            <tr>
                <th>Enabled</th>
                <th>ID</th>
                <th>Name</th>
                <th>Identifier</th>
                <th>Tasks All/Fixed/FalsePositive</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(function() {
       $("#challengeTable").DataTable();
    });
</script>
