@import org.maproulette.session.User
@import org.maproulette.models.Challenge
@import org.maproulette.actions.Actions
@(user:User, parentId:Long, parentVisible:Boolean, challenges:List[(Challenge, Int, Int, Int)])(implicit messages: Messages)

@views.html.admin.common.header("Administration", null,
    Map("Projects" -> ("fa fa-folder", routes.Application.adminUIProjectList()))
)
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Challenges</h3>
            <div class="pull-right">
                <a href="@routes.FormEditController.challengeFormUI(parentId, -1)">
                    <button class="btn-xs btn-block btn-primary">New Challenge</button>
                </a>
            </div>
            <div class="pull-right">
                <a href="@routes.FormEditController.surveyFormUI(parentId, -1)">
                    <button class="btn-xs btn-block btn-primary">New Survey</button>
                </a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            @if(!parentVisible) {
                <i class="fa fa-eye-slash" style="color: red">
                    The parent Project is currently not Visible. Any Challenges you set to Visible will only become Visible if you also set the parent Project to Visible.</i>
            }
            <table id="challengeTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Visible</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Tasks All/Fixed/FalsePositive</th>
                        <th>Challenge Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @if(challenges.nonEmpty) {
                    @for(c <- challenges) {
                        <tr>
                            <td>
                                @if(c._1.challengeType == Actions.ITEM_TYPE_SURVEY) {
                                    <i class="fa fa-edit fa-2x" style="color:@if(c._1.enabled) { green } else { red }"/>
                                } else {
                                    <i class="fa fa-wrench fa-2x" style="color:@if(c._1.enabled) { green } else { red }"/>
                                }
                            </td>
                            <td>@c._1.id</td>
                            <td><a href="@routes.Application.adminUITaskList(parentId, Actions.ITEM_TYPE_CHALLENGE_NAME, c._1.id)">@c._1.name</a></td>
                            <td>@{c._2}/@{c._3}/@{c._4}</td>
                            <td>
                                @if(!c._1.overpassQL.getOrElse("").isEmpty) { Overpass } else {
                                    @if(!c._1.remoteGeoJson.getOrElse("").isEmpty) { Remote GeoJson } else {
                                        Not Applicable
                                    }
                                }
                            </td>
                            <td>
                                <span id="statusName">@c._1.getFriendlyStatus</span>
                                <a href="#" onclick="refreshStatus(@c._1.id);" class="fa fa-refresh"/>
                            </td>
                            <td>
                                <div class="btn-group pull-left">
                                    <button type="button" class="btn-xs btn-info" data-toggle="dropdown">Options</button>
                                    <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        @if(c._1.challengeType == Actions.ITEM_TYPE_CHALLENGE) {
                                            <li><a href="@routes.FormEditController.challengeFormUI(c._1.parent, c._1.id)">Edit</a></li>
                                        } else {
                                            <li><a href="@routes.FormEditController.surveyFormUI(c._1.parent, c._1.id)">Edit</a></li>
                                        }
                                        <li><a href="@routes.FormEditController.cloneChallengeFormUI(c._1.parent, c._1.id)">Clone</a></li>
                                        <li><a href="#" onclick="deleteChallenge(@c._1.id);">Delete</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@routes.FormEditController.taskFormUI(parentId, c._1.id, Actions.ITEM_TYPE_CHALLENGE_NAME, -1)">New Task</a></li>
                                        <li class="divider"></li>
                                        @if(c._1.challengeType == Actions.ITEM_TYPE_CHALLENGE) {
                                            <li><a href="@routes.Application.challengeMetrics(c._1.id, "")">View Metrics</a></li>
                                        } else {
                                            <li><a href="@routes.Application.challengeMetrics(c._1.id, "", 1)">View Metrics</a></li>
                                        }
                                        <li><a href="@routes.Application.viewChallenge(c._1.id)">View</a></li>
                                        <li class="divider"></li>
                                        @if(!c._1.overpassQL.getOrElse("").isEmpty || !c._1.remoteGeoJson.getOrElse("").isEmpty) {
                                            <li><a href="#" onclick="rebuildChallenge(@c._1.parent, @c._1.id);">Rebuild</a></li>
                                        }
                                        <li><a href="@routes.Application.mapChallenge(c._1.id)">Start</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                } else {
                    <td>No Challenges Found</td>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Visible</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Tasks All/Fixed/FalsePositive</th>
                        <th>Challenge Type</th>
                        <th>Overpass Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div><!-- /.box -->
</section>
<script>
    $(function() {
       $("#challengeTable").DataTable();
    });

    function refreshStatus(itemId) {
        getChallenge(itemId, function(data) {
            if (data.status == "@{Challenge.STATUS_BUILDING}") {
                $("#statusName").html("@{Challenge.STATUS_BUILDING_NAME}");
            } else if (data.status == "@{Challenge.STATUS_COMPLETE}") {
                $("#statusName").html("@{Challenge.STATUS_COMPLETE_NAME}");
            } else if (data.status == "@{Challenge.STATUS_FAILED}") {
                $("#statusName").html("@{Challenge.STATUS_FAILED_NAME}");
            } else if (data.status == "@{Challenge.STATUS_PARTIALLY_LOADED}") {
                $("#statusName").html("@{Challenge.STATUS_PARTIALLY_LOADED_NAME}");
            } else {
                $("#statusName").html("@{Challenge.STATUS_NA_NAME}");
            }
        }, Utils.handleError)
    }
</script>
