@import org.maproulette.session.User
@import org.maproulette.models.Project
@import org.maproulette.actions.Actions
@(user:User, projects:List[(Project, Int, Int)])(implicit messages: Messages)

@views.html.admin.common.header(messages("project.administration.title"))
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">@messages("project.title")</h3>
            @if(user.isSuperUser) {
                <div class="pull-right">
                    <a href="@routes.FormEditController.projectFormUI(-1, -1)">
                        <button class="btn-xs btn-block btn-primary">@messages("project.new")</button>
                    </a>
                </div>
            }
        </div>
        <div class="box-body">
            <table id="projectTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>@messages("project.column.visible")</th>
                        <th>@messages("project.column.id")</th>
                        <th>@messages("project.column.name")</th>
                        <th>@messages("project.column.challenges")</th>
                        <th>@messages("project.column.surveys")</th>
                        <th>@messages("project.column.actions")</th>
                    </tr>
                </thead>
                <tbody>
                    @if(projects.nonEmpty) {
                        @for(p <- projects) {
                            <tr>
                                <td>
                                @if(p._1.enabled) {
                                    <i class="fa fa-eye fa-2x" style="color:green"/>
                                } else {
                                    <i class="fa fa-eye-slash fa-2x" style="color:red"/>
                                }
                                </td>
                                <td>@p._1.id</td>
                                <td><a href="@routes.Application.adminUIChildList(Actions.ITEM_TYPE_CHALLENGE_NAME, p._1.id)">@p._1.name</a></td>
                                <td>@p._2</td>
                                <td>@p._3</td>
                                <td>
                                    <div class="btn-group pull-left">
                                        <button type="button" class="btn-xs btn-info" data-toggle="dropdown">@messages("project.column.actions.title")</button>
                                        <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">@messages("project.column.actions.toggle")</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            @if(user.adminForProject(p._1.id) || user.isSuperUser) {
                                                <li><a href="@routes.FormEditController.projectFormUI(-1, p._1.id)">@messages("project.column.actions.edit")</a></li>
                                                @if(user.isSuperUser) {
                                                    <li><a href="#" onclick="javascript:deleteProject(@p._1.id);">@messages("project.column.actions.delete")</a></li>
                                                }
                                                <li class="divider"></li>
                                            }
                                            <li><a href="@routes.FormEditController.challengeFormUI(p._1.id, -1)">@messages("project.column.actions.new.challenge")</a></li>
                                            <li><a href="@routes.FormEditController.challengeFormUI(p._1.id, -1)">@messages("project.column.actions.new.survey")</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@routes.Application.challengeMetrics(-1, p._1.id+"")">@messages("project.column.actions.metrics.challenge")</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    } else {
                        <td>@messages("project.table.notfound")</td>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>@messages("project.column.visible")</th>
                        <th>@messages("project.column.id")</th>
                        <th>@messages("project.column.name")</th>
                        <th>@messages("project.column.challenges")</th>
                        <th>@messages("project.column.surveys")</th>
                        <th>@messages("project.column.actions")</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<script>
    $(function() {
        $("#projectTable").DataTable();
    });
</script>
