@import org.maproulette.session.User
@import org.maproulette.models.Project
@import org.maproulette.actions.Actions
@(user:User, projects:List[Project])(implicit messages: Messages)

@views.html.admin.common.header("Administration")
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Projects</h3>
            @if(user.isSuperUser) {
                <div class="pull-right">
                    <a href="@routes.FormEditController.projectFormUI(-1, -1)">
                        <button class="btn-xs btn-block btn-primary">New Project</button>
                    </a>
                </div>
            }
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="projectTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Visible</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Admins</th>
                        <th>Challenges</th>
                        <th>Surveys</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if(projects.nonEmpty) {
                        @for(p <- projects) {
                            <tr>
                                <td>
                                @if(p.enabled) {
                                    <i class="fa fa-eye fa-2x" style="color:green"/>
                                } else {
                                    <i class="fa fa-eye-slash fa-2x" style="color:red"/>
                                }
                                </td>
                                <td>@p.id</td>
                                <td><a href="@routes.Application.adminUIChildList(Actions.ITEM_TYPE_CHALLENGE_NAME, p.id)">@p.name</a></td>
                                <td></td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <div class="btn-group pull-left">
                                        <button type="button" class="btn-xs btn-info" data-toggle="dropdown">Options</button>
                                        <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="@routes.FormEditController.projectFormUI(-1, p.id)">Edit</a></li>
                                            <li><a href="#" onclick="javascript:deleteProject(@p.id);">Delete</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@routes.FormEditController.challengeFormUI(p.id, -1)">New Challenge</a></li>
                                            <li><a href="@routes.FormEditController.surveyFormUI(p.id, -1)">New Survey</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@routes.Application.challengeMetrics(-1, p.id+"")">View Challenge Metrics</a></li>
                                            <li><a href="@routes.Application.challengeMetrics(-1, p.id+"", 1)">View Survey Metrics</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    } else {
                        <td>No projects found</td>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Visible</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Admins</th>
                        <th>Challenges</th>
                        <th>Surveys</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
<script>
    $(function() {
        $("#projectTable").DataTable();
    });
</script>
