@import org.maproulette.session.User
@import org.maproulette.models.Project
@import org.maproulette.actions.Actions
@(user:User, projects:List[Project])(implicit messages: Messages)

@views.html.admin.common.header("Administration")
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Projects</h3>
            @if(user.isSuperUser) {
                <div class="pull-right">
                    <a href="@routes.FormEditController.projectFormUI(-1, -1)">
                        <button class="btn-xs btn-block btn-primary">New Project</button>
                    </a>
                </div>
            }
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="projectTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Admins</th>
                        <th>Challenges</th>
                        <th>Surveys</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if(projects.nonEmpty) {
                        @for(p <- projects) {
                            <tr>
                                <td>
                                @if(p.enabled) {
                                    <i class="fa fa-check-circle-o fa-2x" style="color:green"/>
                                } else {
                                    <i class="fa fa-times-circle-o fa-2x" style="color:red"/>
                                }
                                </td>
                                <td>@p.id</td>
                                <td><a href="@routes.Application.adminUIChildList(Actions.ITEM_TYPE_CHALLENGE_NAME, p.id)">@p.name</a></td>
                                <td></td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <div class="pull-left">
                                        <a href="@routes.FormEditController.projectFormUI(-1, p.id)">
                                            <button class="btn-xs btn-block btn-warning">Edit</button>
                                        </a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="@routes.FormEditController.challengeFormUI(p.id, -1)">
                                            <button class="btn-xs btn-block btn-primary">New Challenge</button>
                                        </a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="@routes.FormEditController.surveyFormUI(p.id, -1)">
                                            <button class="btn-xs btn-block btn-primary">New Survey</button>
                                        </a>
                                    </div>
                                    @if(user.isSuperUser) {
                                        <div class="pull-left">
                                            <button class="btn-xs btn-block btn-danger" onclick="javascript:deleteProject(@p.id);">
                                                Delete</button>
                                        </div>
                                    }
                                    <div class="pull-left">
                                        <a href="@routes.Application.challengeMetrics(-1, p.id+"")">
                                            <button class="btn-xs btn-block btn-primary">View Metrics</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    } else {
                        <td>No projects found</td>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Enabled</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Admins</th>
                        <th>Challenges</th>
                        <th>Surveys</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
<script>
    $(function() {
        $("#projectTable").DataTable();
    });
</script>
