@import org.maproulette.session.User
@import org.maproulette.actions.Actions
@import org.maproulette.models.Survey
@(user:User, parentId:Long, surveys:List[Survey])(implicit messages: Messages)

<div class="box-body">
    <div class="pull-right">
        <a href="@routes.FormEditController.surveyFormUI(parentId, -1)">
            <button class="btn-xs btn-block btn-primary">New Survey</button>
        </a>
        <form action="@routes.Application.adminUIChildList(Actions.ITEM_TYPE_SURVEY_NAME, parentId)" method="get" class="sidebar-form pull-right">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>
    <table id="userTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Enabled</th>
                <th>ID</th>
                <th>Name</th>
                <th>Identifier</th>
                <th>Tasks All/Answered</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @if(surveys.nonEmpty) {
            @for(s <- surveys) {
                <tr>
                    <td>
                    @if(s.enabled) {
                        <i class="fa fa-check-circle-o fa-2x" style="color:green"/>
                    } else {
                        <i class="fa fa-times-circle-o fa-2x" style="color:red"/>
                    }
                    </td>
                    <td>@s.id</td>
                    <td>@s.name</td>
                    <td>@s.identifier</td>
                    <td>0/0</td>
                    <td>
                        <div class="col-md-2 pull-left">
                            <a href="@routes.FormEditController.surveyFormUI(s.parent, s.id)">
                                <button class="btn-xs btn-block btn-warning">Edit</button>
                            </a>
                        </div>
                        <div class="col-md-2 pull-left">
                            <a href="#">
                                <button class="btn-xs btn-block btn-danger" onclick="javascript:deleteSurvey(@s.id);">Delete</button>
                            </a>
                        </div>
                        <div class="col-md-2 pull-left">
                            <a href="#">
                                <button class="btn-xs btn-block btn-success">Start</button>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        } else {
            <td>No Surveys found</td>
        }
        </tbody>
        <tfoot>
            <tr>
                <th>Enabled</th>
                <th>ID</th>
                <th>Name</th>
                <th>Identifier</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>
