@import org.maproulette.session.User
@import org.maproulette.actions.Actions
@import org.maproulette.models.Challenge
@(user:User, projectId:Long, parentType:String, parentId:Long)(implicit messages: Messages)

@views.html.admin.common.header("Administration", null,
    Map(
      "Projects" -> ("fa fa-folder", routes.Application.adminUIProjectList()),
      "Challenges" -> ("", routes.Application.adminUIChildList(Actions.ITEM_TYPE_CHALLENGE_NAME, projectId))
    )
)
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Tasks</h3>
      <div class="pull-right">
        <a href="@routes.FormEditController.taskFormUI(projectId, parentId, parentType, -1)">
          <button class="btn-xs btn-block btn-primary">New Task</button>
        </a>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table id="taskTable" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Priority</th>
            <th>Name</th>
            <th>Instruction</th>
            <th>Location</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>Priority</th>
            <th>Name</th>
            <th>Instruction</th>
            <th>Location</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>
<script>
        $(function() {
          $("#taskTable").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
              url: "/ui/admin/datatable/@{parentType}/tasks/@{parentId}",
              type: "POST"
            },
            columns: [
              {
                data: "id",
                name: "id",
                title: "ID"
              },
              {
                data: "priority",
                name: "priority",
                title: "Priority",
                render: function ( data, type, full, meta ) {
                  if (data == "@Challenge.PRIORITY_HIGH") {
                    return "High";
                  } else if (data == "@Challenge.PRIORITY_MEDIUM") {
                    return "Medium";
                  } else {
                    return "Low";
                  }
                }
              },
              {
                data: "name",
                name: "name",
                title: "Name"
              },
              {
                orderable: false,
                data: "instruction",
                name: "instruction",
                title: "Instruction"
              },
              {
                orderable: false,
                data: "location",
                name: "location",
                title: "Location"
              },
              {
                data: "status",
                name: "status",
                title: "Status"
              },
              {
                orderable: false,
                data: "actions",
                name: "actions",
                title: "Actions",
                render: function ( data, type, full, meta ) {
                  var editHref = '/ui/admin/form/@projectId/@parentType/@parentId/task/';
                  var viewHref = '/map/@parentId/';
                  return '<div class="btn-group pull-left">' +
                            '<button type="button" class="btn-xs btn-info" data-toggle="dropdown">Options</button>' +
                            '<button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown">' +
                              '<span class="caret"></span>' +
                              '<span class="sr-only">Toggle Dropdown</span>' +
                            '</button>' +
                            '<ul class="dropdown-menu" role="menu">' +
                              '<li><a href="' + editHref + data + '">Edit</a></li>' +
                              '<li><a href="' + viewHref + data + '?debug=true">View</a></li>' +
                              '<li><a href="#" onclick="javascript:deleteTask(' + data + ');">Delete</a></li>' +
                            '</ul>' +
                          '</div>';
                }
              }
            ]
          });
        });
</script>
