@(title:String, subtitle:String=null, breadcrumbs:Map[String, Call]=Map.empty)(implicit messages: Messages)

<section class="content-header">
    <h1>
        @title
        @if(subtitle != null && subtitle != "") {
            <small> - @subtitle</small>
        }
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="@routes.Application.adminUIProjectList()">
                <i class="fa fa-folder"></i> Project Admin</a>
        </li>
        @for(b <- breadcrumbs) {
            <li><a href="@b._2"><i></i>@b._1</a></li>
        }
    </ol>
</section>
