@import org.maproulette.session.User
@import org.maproulette.Config
@import org.maproulette.models.Challenge
@(user:User, config:Config, challenge:Option[Challenge]=None, projects:String="")(implicit req: play.api.mvc.RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@colSize() = {@{if (challenge.isEmpty) { "3" } else { "4" }}}
@views.html.includes.metricsIncludes(config.isDebugMode)
@views.html.admin.common.header("Metrics", challenge.getOrElse(Challenge(-1, if (projects.isEmpty) { "All Challenges" } else { s"Projects ($projects)" }, None, -1, "")).name)
<script src="@routes.Assets.versioned("javascripts/metrics.js")"></script>
<section class="content">
        <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-wrench"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">Number of Challenges</span>
                    } else {
                        <span class="info-box-text">Number of Tasks</span>
                    }
                    <span id="top_numOfChallenges" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-line-chart"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">Average Completion %</span>
                    } else {
                        <span class="info-box-text">Fixed</span>
                    }
                    <span id="top_fixed" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-warning"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">Average false positive rate</span>
                    } else {
                        <span class="info-box-text">False Positives</span>
                    }
                    <span id="top_fps" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Users</span>
                    <span id="top_users" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Challenge Activity</h3>
                    <div class="box-tools pull-right">
                        <button id="chartButton" class="btn btn-box-tool"></button>
                        <button class="btn btn-box-tool daterange"><i class="fa fa-calendar"></i></button>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="canvasContainer" class="chart">
                                <canvas id="activityChart" style="height: 180px;"></canvas>
                            </div><!-- /.chart-responsive -->
                        </div><!-- /.col -->
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Challenge Completion</strong>
                            </p>
                            <div class="progress-group">
                                <span class="progress-text">Fixed</span>
                                <span id="fixed" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="fixed_bar" class="progress-bar progress-bar-green" style="width: 0%"></div>
                                </div>
                            </div><!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">False Positive</span>
                                <span id="false_positives" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="false_postives_bar" class="progress-bar progress-bar-red" style="width: 0%"></div>
                                </div>
                            </div><!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Already Fixed</span>
                                <span id="already_fixed" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="already_fixed_bar" class="progress-bar progress-bar-aqua" style="width: 0%"></div>
                                </div>
                            </div><!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Skipped</span>
                                <span id="skipped" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="skipped_bar" class="progress-bar progress-bar-yellow" style="width: 0%"></div>
                                </div>
                            </div><!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Too hard to fix</span>
                                <span id="too_hard" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="too_hard_bar" class="progress-bar progress-bar-yellow" style="width: 0%"></div>
                                </div>
                            </div><!-- /.progress-group -->
                            <div>
                                <p class="text-center"><strong>Status Distribution</strong></p>
                                <div id="distContainer" class="chart">
                                    <canvas id="statusPieChart" style="height: 180px;"></canvas>
                                </div><!-- /.chart-responsive -->
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-@colSize() col-xs-6">
                            <div class="description-block border-right">
                                <h5 id="active_users" class="description-header"></h5>
                                <span class="description-text">ACTIVE USERS*</br><small>*Users with 2 or more edits in the last 2 days</small></span>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-@colSize() col-xs-6">
                            <div class="description-block border-right">
                                <h5 id="actions" class="description-header"></h5>
                                <span class="description-text">ACTIONS PER USER</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        @if(challenge.isEmpty) {
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block">
                                    <h5 id="actions_per_challenge" class="description-header"></h5>
                                    <span class="description-text">ACTIONS PER USER PER CHALLENGE</span>
                                </div><!-- /.description-block -->
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <h5 id="users_per_challenge" class="description-header"></h5>
                                    <span class="description-text">USERS PER CHALLENGE</span>
                                </div>
                            </div><!-- /.col -->
                        } else {
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <a href="@routes.Application.mapChallenge(challenge.get.id)"><button class="btn btn-block btn-success">Start</button></a>
                                    <span class="description-text">Click here to start fixing tasks in the challenge</span>
                                </div>
                                @if(user.isSuperUser || user.adminForProject(challenge.get.parent)) {
                                    <div class="description-block border-right">
                                        <a href="@routes.FormEditController.challengeFormUI(challenge.get.parent, challenge.get.id)"><button class="btn btn-block btn-warning">Edit</button></a>
                                        <span class="description-text">Click here to edit the challenge</span>
                                    </div>
                                }
                            </div><!-- /.col -->
                        }
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    @if(challenge.isEmpty) {
        <div class="row">
            <div class="col-md-12">
            @views.html.metrics.challengeMetricsTable(projects)
            </div>
        </div>
    }
</section>
<script type="application/javascript">
    var dateFormat = "YYYY-MM-DD";
    function getMetrics(start, end, dateChangeOnly) {
        var dco = false;
        if (typeof dateChangeOnly != 'undefined' && dateChangeOnly) {
            dco = true;
        }
        var activityCallback = {
            success:receiveActivityData,
            error:dataErrorHandler
        };
        var summaryCallback = {
            success:receiveSummaryData,
            error:dataErrorHandler
        };
        var userCallback = {
            success:receiveUserData,
            error:dataErrorHandler
        };
        @challenge match {
            case Some(c) => {
                jsRoutes.org.maproulette.controllers.api.DataController.getChallengeActivity(@c.id, start, end).ajax(activityCallback);
                jsRoutes.org.maproulette.controllers.api.DataController.getUserChallengeSummary(@c.id, start, end).ajax(userCallback);
                if (!dco) {
                    Metrics.getChallengeSummaryPieChart($("#statusPieChart"), @c.id, true, receiveSummaryData);
                }
            }
            case None => {
                jsRoutes.org.maproulette.controllers.api.DataController.getProjectActivity("@projects", start, end).ajax(activityCallback);
                jsRoutes.org.maproulette.controllers.api.DataController.getUserSummary("@projects", start, end).ajax(userCallback);
                if (!dco) {
                    Metrics.getProjectSummaryPieChart($("#statusPieChart"), "@projects", true, receiveSummaryData);
                }
            }
        }
    }
    getMetrics(moment().subtract(6, 'days').format(dateFormat), moment().format(dateFormat));

    function receiveUserData(data) {
        $("#top_users").html(data.distinctAllUsers);
        $("#actions").html(parseFloat(data.avgActionsPerUser.fixed).toFixed(2) + " <small>Fixed</small></br>" +
                parseFloat(data.avgActionsPerUser.falsePositive).toFixed(2) + " <small>False Positives</small></br>" +
                parseFloat(data.avgActionsPerUser.skipped).toFixed(2) + " <small>Skipped</small></br>" +
                parseFloat(data.avgActionsPerUser.tooHard).toFixed(2) + " <small>Too Hard</small></br>" +
                parseFloat(data.avgActionsPerUser.alreadyFixed).toFixed(2) + " <small>Already Fixed</small></br>"
        );
        @if(challenge.isEmpty) {
            $("#actions_per_challenge").html(parseFloat(data.avgActionsPerChallengePerUser.fixed).toFixed(2) + " <small>Fixed</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.falsePositive).toFixed(2) + " <small>False Positives</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.skipped).toFixed(2) + " <small>Skipped</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.tooHard).toFixed(2) + " <small>Too Hard</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.alreadyFixed).toFixed(2) + " <small>Already Fixed</small></br>"
            );
            $("#users_per_challenge").html(parseFloat(data.avgUsersPerChallenge).toFixed(2));
        }
        $("#active_users").html(data.activeUsers);
    }

    function receiveSummaryData(data) {
        // update the activity chart information on the side
        $("#fixed").html("<b>" + data.fixedTasks + "</b>/" + data.totalTasks);
        $("#fixed_bar").width((data.fixedTasks / data.totalTasks) * 100 + "%");
        $("#false_positives").html("<b>" + data.falsePositiveTasks + "</b>/" + data.totalTasks);
        $("#false_postives_bar").width((data.falsePositiveTasks / data.totalTasks) * 100 + "%");
        $("#already_fixed").html("<b>" + data.alreadyFixedTasks + "</b>/" + data.totalTasks);
        $("#already_fixed_bar").width((data.alreadyFixedTasks / data.totalTasks) * 100 + "%");
        $("#skipped").html("<b>" + data.skippedTasks + "</b>/" + data.totalTasks);
        $("#skipped_bar").width((data.skippedTasks / data.totalTasks) * 100 + "%");
        $("#too_hard").html("<b>" + data.tooHardTasks + "</b>/" + data.totalTasks);
        $("#too_hard_bar").width((data.tooHardTasks / data.totalTasks) * 100 + "%");
        // update information in the top bar
        @if(challenge.isEmpty) {
            $("#top_numOfChallenges").html(data.numOfChallenges + "</br><small>(" + data.totalTasks + " Tasks)</small>");
            $("#top_fixed").html(parseFloat((data.completionRate / data.numOfChallenges) * 100).toFixed(2) + "%");
            $("#top_fps").html(parseFloat((data.falsePositiveRate / data.numOfChallenges) * 100).toFixed(2) + "%");
        } else {
            $("#top_numOfChallenges").html(data.totalTasks);
            $("#top_fixed").html(data.fixedTasks);
            $("#top_fps").html(data.falsePositiveTasks);
        }
    }

    $('.daterange').daterangepicker({
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(6, 'days'),
        endDate: moment()
    }, function (start, end) {
        getMetrics(moment(start).format(dateFormat), moment(end).format(dateFormat), true);
    });

    function receiveActivityData(data) {
        resetSource();
        for (var i = 0; i < data.length; i++) {
            var currentStatus = data[i].status;
            var dataset = currentStatus;
            var count = data[i].count;
            if (currentStatus > 4) {
                dataset = currentStatus - 1;
            }
            addToSource(moment(data[i].date, dateFormat), dataset, count);
        }
        updateChart();
    }

    var activityChartData = {
        labels: [],
        datasets: [
            /*{
             label: "Available",
             fill: false,
             lineTension: 0.1,
             backgroundColor: "rgba(0, 0, 0, 0.4)",
             borderColor: "rgba(0, 0, 0, 1)",
             borderCapStyle: 'butt',
             borderJoinStyle: 'round',
             pointBorderColor: "rgba(0, 0, 0, 1)",
             pointBackgroundColor: "#fff",
             pointBorderWidth: 1,
             pointHoverRadius: 5,
             pointHoverBackgroundColor: "rgba(0, 0, 0, 1)",
             pointHoverBorderColor: "rgba(220,220,220,1)",
             pointHoverBorderWidth: 2,
             pointRadius: 1,
             pointHitRadius: 10,
             data: []
             },*/
            {
                label: "Fixed",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(0, 166, 90, 0.4)",
                borderColor: "rgba(0, 166, 90, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'round',
                pointBorderColor: "rgba(0, 166, 90, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(0, 166, 90, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "False Positives",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(221, 75, 57, 0.4)",
                borderColor: "rgba(221, 75, 57, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(221, 75, 57, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(221, 75, 57, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "Skipped",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(243, 156, 18, 0.4)",
                borderColor: "rgba(243, 156, 18, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(243, 156, 18, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(243, 156, 18, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "Already Fixed",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(0, 192, 239, 0.4)",
                borderColor: "rgba(0, 192, 239, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(0, 192, 239, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(0, 192, 239, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "Too Hard",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(160, 32, 240, 0.4)",
                borderColor: "rgba(160, 32, 240, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(160, 32, 240, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(160, 32, 240, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            }
        ]
    };

    function getActivityChart(type) {
        if (typeof type === 'undefined') {
            type = "line";
        }
        return new Chart($("#activityChart"), {
            type:type,
            data:activityChartData,
            options:{
                responsive:true,
                scales:{
                    xAxes: [{
                        type: "time",
                        time: {
                            parser:false,
                            unit:'day',
                            displayFormats: {
                                'day': 'll', // Sep 4 2015
                                'week': 'll', // Week 46, or maybe "[W]WW - YYYY" ?
                                'month': 'MMM YYYY', // Sept 2015
                                'quarter': '[Q]Q - YYYY', // Q3
                                'year': 'YYYY' // 2015
                            },
                            tooltipFormat: ''
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'count'
                        }
                    }]
                }
            }
        });
    }

    // initialize the matrix dataset that will hold our status counts to dates
    var source = new Array(6);
    function resetSource() {
        for (var i = 0; i < 6; i++) {
            source[i] = [];
        }
    }

    function addToSource(date, status, count) {
        for (var i = 0; i < 6; i++) {
            if (typeof source[i][date] === 'undefined') {
                source[i][date] = 0;
            }
        }
        source[status][date] += count;
    }

    function updateChart(flow) {
        // remove the old chart
        $('#activityChart').remove();
        $('#canvasContainer').append("<canvas id=\"activityChart\" style=\"height: 180px;\"></canvas>");
        if (typeof flow === 'undefined' || flow) {
            activityChart = getActivityChart("line");
            $('#chartButton').unbind().click(function() { updateChart(false); });
            $('#chartButton').html("<i class=\"fa fa-bar-chart\"></i>");
        } else {
            activityChart = getActivityChart("bar");
            activityChart.data.labels = Object.keys(source[0]);
            $('#chartButton').unbind().click(function() { updateChart(true); });
            $('#chartButton').html("<i class=\"fa fa-line-chart\"></i>");
        }
        for (var i = 1; i < 6; i++) {
            var activityData = activityChart.data.datasets[i-1];
            activityData.data = [];
            var dateKeys = Object.keys(source[i]);
            var currentTotal = 0;
            for (var j = 0; j < dateKeys.length; j++) {
                var dateMoment = moment(dateKeys[j]);
                if (typeof flow === 'undefined' || flow) {
                    currentTotal += source[i][dateKeys[j]];
                    activityData.data[j] = {
                        x: dateMoment.format("ll"),
                        y: currentTotal
                    };
                } else {
                    activityData.data[j] = source[i][dateKeys[j]];
                }
            }
        }
        // update the available separately, as to calculate this it is based off the total tasks
        // available minus the fixed, false positives and already fixed tasks
        activityChart.update();
    }

    function dataErrorHandler(data) {
        ToastUtils.Error("Unable to retrieve data for activity chart.\n" + data);
    }
</script>
