@import org.maproulette.session.User
@import org.maproulette.Config
@import org.maproulette.models.Challenge
@(user:User, config:Config, challenge:Option[Challenge]=None, projects:String="")(implicit req: play.api.mvc.RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@colSize() = {@{if (challenge.isEmpty) { "3" } else { "4" }}}
@views.html.includes.metricsIncludes(config.isDebugMode)
@views.html.admin.common.header("Metrics", challenge.getOrElse(Challenge.emptyChallenge(-1, -1).copy(name = if (projects.isEmpty) { messages("metrics.challenge.all") } else { messages("metrics.challenge.projects", projects) })).name)
<section class="content">
    @if(challenge.isDefined) {
        <div class="row">
            <div class="col-md-1">
                @messages("metrics.challenge.priority.name")<select name="Priority" id="priorities">
                    <option value="-1">@messages("metrics.challenge.priority.all")</option>
                    <option value="@Challenge.PRIORITY_HIGH">@messages("metrics.challenge.priority.high")</option>
                    <option value="@Challenge.PRIORITY_MEDIUM">@messages("metrics.challenge.priority.medium")</option>
                    <option value="@Challenge.PRIORITY_LOW">@messages("metrics.challenge.priority.low")</option>
                </select>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-wrench"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">@messages("metrics.challenge.number")</span>
                    } else {
                        <span class="info-box-text">@messages("metrics.challenge.number.tasks")</span>
                    }
                    <span id="top_numOfChallenges" class="info-box-number"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-line-chart"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">@messages("metrics.challenge.average")</span>
                    } else {
                        <span class="info-box-text">@messages("metrics.challenge.fixed")</span>
                    }
                    <span id="top_fixed" class="info-box-number"></span>
                </div>
            </div>
        </div>

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-warning"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">@messages("metrics.challenge.avgfalsepositiverate")</span>
                    } else {
                        <span class="info-box-text">@messages("metrics.challenge.falsepositives")</span>
                    }
                    <span id="top_fps" class="info-box-number"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@messages("metrics.challenge.users")</span>
                    <span id="top_users" class="info-box-number"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@messages("metrics.challenge.activity")</h3>
                    <div class="box-tools pull-right">
                        <button id="chartButton" class="btn btn-box-tool"></button>
                        <button class="btn btn-box-tool daterange"><i class="fa fa-calendar"></i></button>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="canvasContainer" class="chart">
                                <canvas id="activityChart" style="height: 180px;"></canvas>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>@messages("metrics.challenge.completion")</strong>
                            </p>
                            <div class="progress-group">
                                <span class="progress-text">@messages("metrics.challenge.completion.fixed")</span>
                                <span id="fixed" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="fixed_bar" class="progress-bar progress-bar-green" style="width: 0%"></div>
                                </div>
                            </div>
                            <div class="progress-group">
                                <span class="progress-text">@messages("metrics.challenge.completion.falsepositive")</span>
                                <span id="false_positives" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="false_postives_bar" class="progress-bar progress-bar-red" style="width: 0%"></div>
                                </div>
                            </div>
                            <div class="progress-group">
                                <span class="progress-text">@messages("metrics.challenge.completion.alreadyfixed")</span>
                                <span id="already_fixed" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="already_fixed_bar" class="progress-bar progress-bar-aqua" style="width: 0%"></div>
                                </div>
                            </div>
                            <div class="progress-group">
                                <span class="progress-text">@messages("metrics.challenge.completion.skipped")</span>
                                <span id="skipped" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="skipped_bar" class="progress-bar progress-bar-yellow" style="width: 0%"></div>
                                </div>
                            </div>
                            <div class="progress-group">
                                <span class="progress-text">@messages("metrics.challenge.completion.toohard")</span>
                                <span id="too_hard" class="progress-number"><b>0</b>/0</span>
                                <div class="progress sm">
                                    <div id="too_hard_bar" class="progress-bar progress-bar-purple" style="width: 0%"></div>
                                </div>
                            </div>
                            <div>
                                <p class="text-center"><strong>@messages("metrics.challenge.completion.status")</strong></p>
                                <div id="distContainer" class="chart">
                                    <canvas id="statusPieChart" style="height: 180px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-@colSize() col-xs-6">
                            <div class="description-block border-right">
                                <h5 id="active_users" class="description-header"></h5>
                                <span class="description-text">@Html(messages("metrics.challenge.user.active"))</span>
                            </div>
                        </div>
                        <div class="col-sm-@colSize() col-xs-6">
                            <div class="description-block border-right">
                                <h5 id="actions" class="description-header"></h5>
                                <span class="description-text">@messages("metrics.challenge.user.actions")</span>
                            </div>
                        </div>
                        @if(challenge.isEmpty) {
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block">
                                    <h5 id="actions_per_challenge" class="description-header"></h5>
                                    <span class="description-text">@messages("metrics.challenge.user.challengeactions")</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <h5 id="users_per_challenge" class="description-header"></h5>
                                    <span class="description-text">@messages("metrics.challenge.user.challenge")</span>
                                </div>
                            </div>
                        } else {
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <a href="@routes.Application.mapChallenge(challenge.get.id)"><button class="btn btn-block btn-success">@messages("metrics.challenge.start")</button></a>
                                    <span class="description-text">@messages("metrics.challenge.start.description")</span>
                                </div>
                                @if(user.isSuperUser || user.adminForProject(challenge.get.general.parent)) {
                                    <div class="description-block border-right">
                                        <a href="@routes.FormEditController.challengeFormUI(challenge.get.general.parent, challenge.get.id)"><button class="btn btn-block btn-warning">@messages("metrics.challenge.edit")</button></a>
                                        <span class="description-text">@messages("metrics.challenge.edit.description")</span>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if(challenge.isEmpty) {
        <div class="row">
            <div class="col-md-12">
            @views.html.metrics.challengeMetricsTable(projects)
            </div>
        </div>
    }
</section>
<script type="application/javascript">
    var dateFormat = "YYYY-MM-DD";
    var currentStartDate = moment().subtract(6, 'days').format(dateFormat);
    var currentEndDate = moment().format(dateFormat);
    $('#priorities').change(function() {
        getMetrics(currentStartDate, currentEndDate, false, this.value);
    });

    function getMetrics(start, end, dateChangeOnly, priority) {
        var dco = false;
        if (typeof dateChangeOnly != 'undefined' && dateChangeOnly) {
            dco = true;
        }
        var currentPriority = -1;
        if (typeof priority != 'undefined') {
            currentPriority = priority;
        }
        var activityCallback = {
            success:receiveActivityData,
            error:dataErrorHandler
        };
        var userCallback = {
            success:receiveUserData,
            error:dataErrorHandler
        };
        @challenge match {
            case Some(c) => {
                jsRoutes.org.maproulette.controllers.api.DataController.getChallengeActivity(@c.id, start, end, currentPriority).ajax(activityCallback);
                jsRoutes.org.maproulette.controllers.api.DataController.getUserChallengeSummary(@c.id, start, end, -1, currentPriority).ajax(userCallback);
                if (!dco) {
                    Metrics.getChallengeSummaryPieChart($("#statusPieChart"), @c.id, true, receiveSummaryData, currentPriority);
                }
            }
            case None => {
                jsRoutes.org.maproulette.controllers.api.DataController.getProjectActivity("@projects", start, end).ajax(activityCallback);
                jsRoutes.org.maproulette.controllers.api.DataController.getUserSummary("@projects", start, end).ajax(userCallback);
                if (!dco) {
                    Metrics.getProjectSummaryPieChart($("#statusPieChart"), "@projects", true, receiveSummaryData);
                }
            }
        }
    }
    getMetrics(currentStartDate, currentEndDate);

    function receiveUserData(data) {
        $("#top_users").html(data.distinctAllUsers);
        $("#actions").html(parseFloat(data.avgActionsPerUser.fixed).toFixed(2) + " <small>Fixed</small></br>" +
                parseFloat(data.avgActionsPerUser.falsePositive).toFixed(2) + " <small>False Positives</small></br>" +
                parseFloat(data.avgActionsPerUser.skipped).toFixed(2) + " <small>Skipped</small></br>" +
                parseFloat(data.avgActionsPerUser.tooHard).toFixed(2) + " <small>Too Hard</small></br>" +
                parseFloat(data.avgActionsPerUser.alreadyFixed).toFixed(2) + " <small>Already Fixed</small></br>"
        );
        @if(challenge.isEmpty) {
            $("#actions_per_challenge").html(parseFloat(data.avgActionsPerChallengePerUser.fixed).toFixed(2) + " <small>Fixed</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.falsePositive).toFixed(2) + " <small>False Positives</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.skipped).toFixed(2) + " <small>Skipped</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.tooHard).toFixed(2) + " <small>Too Hard</small></br>" +
                    parseFloat(data.avgActionsPerChallengePerUser.alreadyFixed).toFixed(2) + " <small>Already Fixed</small></br>"
            );
            $("#users_per_challenge").html(parseFloat(data.avgUsersPerChallenge).toFixed(2));
        }
        $("#active_users").html(data.activeUsers);
    }

    function receiveSummaryData(data) {
        // update the activity chart information on the side
        $("#fixed").html("<b>" + data.fixedTasks + "</b>/" + data.totalTasks);
        $("#fixed_bar").width((data.fixedTasks / data.totalTasks) * 100 + "%");
        $("#false_positives").html("<b>" + data.falsePositiveTasks + "</b>/" + data.totalTasks);
        $("#false_postives_bar").width((data.falsePositiveTasks / data.totalTasks) * 100 + "%");
        $("#already_fixed").html("<b>" + data.alreadyFixedTasks + "</b>/" + data.totalTasks);
        $("#already_fixed_bar").width((data.alreadyFixedTasks / data.totalTasks) * 100 + "%");
        $("#skipped").html("<b>" + data.skippedTasks + "</b>/" + data.totalTasks);
        $("#skipped_bar").width((data.skippedTasks / data.totalTasks) * 100 + "%");
        $("#too_hard").html("<b>" + data.tooHardTasks + "</b>/" + data.totalTasks);
        $("#too_hard_bar").width((data.tooHardTasks / data.totalTasks) * 100 + "%");
        // update information in the top bar
        @if(challenge.isEmpty) {
            $("#top_numOfChallenges").html(data.numOfChallenges + "</br><small>(" + data.totalTasks + " Tasks)</small>");
            $("#top_fixed").html(parseFloat((data.completionRate / data.numOfChallenges) * 100).toFixed(2) + "%");
            $("#top_fps").html(parseFloat((data.falsePositiveRate / data.numOfChallenges) * 100).toFixed(2) + "%");
        } else {
            $("#top_numOfChallenges").html(data.totalTasks);
            $("#top_fixed").html(data.fixedTasks);
            $("#top_fps").html(data.falsePositiveTasks);
        }
    }

    $('.daterange').daterangepicker({
        ranges: {
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(6, 'days'),
        endDate: moment()
    }, function (start, end) {
        currentStartDate = moment(start).format(dateFormat);
        currentEndDate = moment(end).format(dateFormat);
        getMetrics(currentStartDate, currentEndDate, true);
    });

    function receiveActivityData(data) {
        resetSource();
        for (var i = 0; i < data.length; i++) {
            var currentStatus = data[i].status;
            var dataset = currentStatus;
            var count = data[i].count;

            // ignore status 0 and 4
            if (currentStatus != 0 && currentStatus != 4) {
                if (currentStatus > 4) {
                    dataset = currentStatus - 2;
                } else if (currentStatus > 0) {
                    dataset = currentStatus - 1;
                }
            } else {
                currentStatus = -1;
            }
            addToSource(moment(data[i].date, dateFormat), dataset, count);
        }
        updateChart();
    }

    var activityChartData = {
        labels: [],
        datasets: [
            {
                label: "@messages("metrics.challenge.completion.fixed")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(0, 166, 90, 0.4)",
                borderColor: "rgba(0, 166, 90, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'round',
                pointBorderColor: "rgba(0, 166, 90, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(0, 166, 90, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.falsepositive")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(221, 75, 57, 0.4)",
                borderColor: "rgba(221, 75, 57, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(221, 75, 57, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(221, 75, 57, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.skipped")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(243, 156, 18, 0.4)",
                borderColor: "rgba(243, 156, 18, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(243, 156, 18, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(243, 156, 18, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.alreadyfixed")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(0, 192, 239, 0.4)",
                borderColor: "rgba(0, 192, 239, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(0, 192, 239, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(0, 192, 239, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.toohard")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(160, 32, 240, 0.4)",
                borderColor: "rgba(160, 32, 240, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(160, 32, 240, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(160, 32, 240, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            }
        ]
    };

    // initialize the matrix dataset that will hold our status counts to dates
    var source = new Array(5);
    function resetSource() {
        for (var i = 0; i < 5; i++) {
            source[i] = [];
        }
    }

    /**
     * This will add the activity data from the API request to the source data. The source data
     * ignores all data that has the 0 (Created) or 4 (Deleted)
     */
    function addToSource(date, status, count) {
        for (var i = 0; i < 5; i++) {
            if (typeof source[i][date] === 'undefined') {
                source[i][date] = 0;
            }
        }
        if (status != -1) {
            source[status][date] += count;
        }
    }

    function updateChart(flow) {
        var activityChartName = "activityChart";
        // remove the old chart
        $('#' + activityChartName).remove();
        $('#canvasContainer').append("<canvas id=\"" + activityChartName + "\" style=\"height:180px;\"></canvas>");
        if (typeof flow === 'undefined' || flow) {
            activityChart = Metrics.getActivityChart("line", activityChartName, activityChartData);
            $('#chartButton').unbind().click(function() { updateChart(false); });
            $('#chartButton').html("<i class=\"fa fa-bar-chart\"></i>");
        } else {
            activityChart = Metrics.getActivityChart("bar", activityChartName, activityChartData);
            activityChart.data.labels = Object.keys(source[0]);
            $('#chartButton').unbind().click(function() { updateChart(true); });
            $('#chartButton').html("<i class=\"fa fa-line-chart\"></i>");
        }
        Metrics.updateChartData(flow, activityChart, source);
    }

    function dataErrorHandler(data) {
        ToastUtils.Error("@{messages("metrics.challenge.error")}" + data);
    }
</script>
