@import org.maproulette.session.User
@import org.maproulette.Config
@import org.maproulette.models.Challenge
@(user:User, config:Config, challenge:Option[Challenge]=None, projects:String="")(implicit req: play.api.mvc.RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@views.html.includes.metricsIncludes(config.isDebugMode)
@views.html.admin.common.header("Metrics", challenge.getOrElse(Challenge(-1, "All Challenges", None, -1, "")).name)
<section class="content">
        <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-wrench"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">Number of Challenges</span>
                    } else {
                        <span class="info-box-text">Number of Tasks</span>
                    }
                    <span id="numOfChallenges" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-line-chart"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">Average Completion %</span>
                    } else {
                        <span class="info-box-text">Fixed</span>
                    }
                    <span id="fixed" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-warning"></i></span>
                <div class="info-box-content">
                    @if(challenge.isEmpty) {
                        <span class="info-box-text">Average false positive rate</span>
                    } else {
                        <span class="info-box-text">False Positives</span>
                    }
                    <span id="fps" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Users</span>
                    <span id="users" class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    @views.html.metrics.challengeActivity(challenge, projects)
</section>
<script type="application/javascript">
    function getSummaryMetrics() {
        var summaryCallback = {
            success:receiveSummaryData,
            error:summaryDataErrorHandler
        };
        var userCallback = {
            success:receiveUserData,
            error:summaryDataErrorHandler
        }
        @challenge match {
            case Some(c) => {
                jsRoutes.org.maproulette.controllers.api.DataController.getChallengeSummary(@c.id).ajax(summaryCallback);
                jsRoutes.org.maproulette.controllers.api.DataController.getUserChallengeSummary(@c.id).ajax(userCallback);
            }
            case None => {
                jsRoutes.org.maproulette.controllers.api.DataController.getProjectSummary("@projects").ajax(summaryCallback);
                jsRoutes.org.maproulette.controllers.api.DataController.getUserSummary("@projects").ajax(userCallback);
            }
        }
    }

    function receiveUserData(data) {
        $("#users").html(data.distinctTotalUsers);
        updateUserData(data);
    }

    function receiveSummaryData(data) {
        var numOfChallenges = data.length;
        var totalTasks = 0;
        var fixedTasks = 0;
        var falsePositiveTasks = 0;
        var skippedTasks = 0;
        var alreadyFixedTasks = 0;
        var completionRate = 0;
        var falsePositiveRate = 0;
        for (var i = 0; i < data.length; i++) {
            var availableTasks = data[i].actions.available;
            fixedTasks += data[i].actions.fixed;
            falsePositiveTasks += data[i].actions.falsePositive;
            skippedTasks += data[i].actions.skipped;
            alreadyFixedTasks += data[i].actions.alreadyFixed;
            totalTasks += fixedTasks + falsePositiveTasks + skippedTasks + alreadyFixedTasks + availableTasks;
            if (totalTasks > 0) {
                completionRate += (fixedTasks + alreadyFixedTasks) / totalTasks;
            }
            if (totalTasks > 0) {
                falsePositiveRate += falsePositiveTasks / totalTasks;
            }
        }
        // update the activity chart information on the side
        $("#fixed").html("<b>" + fixedTasks + "</b>/" + totalTasks);
        $("#fixed_bar").width((fixedTasks / totalTasks) * 100 + "%");
        $("#false_positives").html("<b>" + falsePositiveTasks + "</b>/" + totalTasks);
        $("#false_postives_bar").width((falsePositiveTasks / totalTasks) * 100 + "%");
        $("#already_fixed").html("<b>" + alreadyFixedTasks + "</b>/" + totalTasks);
        $("#already_fixed_bar").width((alreadyFixedTasks / totalTasks) * 100 + "%");
        $("#skipped").html("<b>" + skippedTasks + "</b>/" + totalTasks);
        $("#skipped_bar").width((skippedTasks / totalTasks) * 100 + "%");
        // update information in the top bar
        @if(challenge.isEmpty) {
            $("#numOfChallenges").html(numOfChallenges + "</br><small>(" + totalTasks + " Tasks)</small>");
            var fixed = 0;
            $("#fixed").html(parseFloat((completionRate / numOfChallenges) * 100).toFixed(2) + "%");
            $("#fps").html(parseFloat((falsePositiveRate / numOfChallenges) * 100).toFixed(2) + "%");
        } else {
            $("#numOfChallenges").html(totalTasks);
            $("#fixed").html(fixedTasks);
            $("#fps").html(falsePositiveTasks);
        }
    }

    function summaryDataErrorHandler(data) {
        ToastUtils.Error("Unable to retrieve data.\n" + data);
    }

    getSummaryMetrics();
</script>
