@import org.maproulette.session.User
@import org.maproulette.models.Challenge
@import org.maproulette.actions.Actions
@import org.maproulette.Config
@(user:User, config:Config, newChallenges:List[Challenge], hotChallenges:List[Challenge],
        featuredChallenges:List[Challenge], savedChallenges:List[Challenge])(implicit req: play.api.mvc.RequestHeader, messages: Messages)
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="@user.osmProfile.avatarURL" class="img-circle" alt="@messages("sidebar.avatarURL")">
    </div>
    <div class="pull-left info">
      <p>@user.name</p>
        <!-- Status -->
      @if(!user.guest) {
        <a href="#"><i class="fa fa-circle text-success"></i> @messages("sidebar.online")</a>
      }
    </div>
  </div>

  <!-- search form (Optional) -->
  <form action="#" method="get" class="sidebar-form" id="searchForm">
    <div class="input-group">
      <input id="searchQ" type="text" name="q" class="form-control" placeholder="@messages("sidebar.search.placeholder")">
      <span class="input-group-btn">
        <button name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
    <label class="text-blue"><input id="includeMap" type="checkbox" value="">@messages("sidebar.search.mapincluded")</label>
  </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li id="search_header" class="header hidden">@messages("sidebar.search.results")</li>
    <li id="search_surveys" class="treeview hidden">
      <a href="#">
        <i class="fa fa-edit"></i> <span>@messages("sidebar.survey.header")</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul id="surveys_results" class="treeview-menu">
      </ul>
    </li>
    <li id="search_challenges" class="treeview hidden">
      <a href="#">
        <i class="fa fa-wrench"></i> <span>@messages("sidebar.challenge.header")</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul id="challenges_results" class="treeview-menu">
      </ul>
    </li>
    @if(user.isAdmin || user.isSuperUser) {
      <li class="header">@messages("sidebar.administration")</li>
        <!-- Optionally, you can add icons to the links -->
      <li><a href="@routes.Application.adminUIProjectList()"><i class="fa fa-folder-open"></i> <span>@messages("sidebar.project.header")</span></a></li>
      <li><a href="@routes.Application.metrics()"><i class="fa fa-pie-chart"></i> <span>@messages("sidebar.challenge.metrics")</span></a></li>
      <li><a href="@routes.Application.metrics(1)"><i class="fa fa-pie-chart"></i> <span>@messages("sidebar.survey.metrics")</span></a></li>
      @if(user.isSuperUser) {
        <li><a href="@routes.Application.users()"><i class="fa fa-users"></i> <span>@messages("sidebar.users.header")</span></a></li>
      }
    }
    <li class="header">@messages("sidebar.whattodo")</li>
    @if(hotChallenges.nonEmpty) {
    <li class="treeview">
      <a href="#">
        <i class="fa fa-fire"></i> <span>@messages("sidebar.challenge.hot")</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
      @for(c <- hotChallenges) {
        <li>
          <a href="#" onclick="addItemToMap(@c.id)"
            @if(c.name.length > 20) {
              data-toggle="tooltip" title="@{c.name}"
            }
          >
            <i class="fa @{if(c.challengeType == Actions.ITEM_TYPE_CHALLENGE) {"fa-wrench"} else {"fa-edit"}}">
            </i> @if(c.name.length > 20) {@{c.name.substring(0, 20)}} else {@{c.name}}
          </a>
        </li>
      }
      </ul>
    </li>
    }
    @if(newChallenges.nonEmpty) {
    <li>
      <a href="#">
        <i class="fa fa-plus-circle"></i> <span>@messages("sidebar.challenge.latest")</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        @for(c <- newChallenges) {
          <li>
            <a href="#" onclick="addItemToMap(@c.id)"
              @if(c.name.length > 20) {
                data-toggle="tooltip" title="@{c.name}"
                }
            >
              <i class="fa @{if(c.challengeType == Actions.ITEM_TYPE_CHALLENGE) {"fa-wrench"} else {"fa-edit"}}">
              </i> @if(c.name.length > 20) {@{c.name.substring(0, 20)}} else {@{c.name}}
            </a>
          </li>
        }
      </ul>
    </li>
    }
    @if(featuredChallenges.nonEmpty) {
    <li>
      <a href="#">
        <i class="fa fa-send-o"></i> <span>@messages("sidebar.challenge.featured")</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        @for(c <- featuredChallenges) {
          <li>
            <a href="#" onclick="addItemToMap(@c.id)"
              @if(c.name.length > 20) {
                data-toggle="tooltip" title="@{c.name}"
                }
            >
              <i class="fa @{if(c.challengeType == Actions.ITEM_TYPE_CHALLENGE) {"fa-wrench"} else {"fa-edit"}}">
              </i> @if(c.name.length > 20) {@{c.name.substring(0, 20)}} else {@{c.name}}
            </a>
          </li>
        }
      </ul>
    </li>
    }
    @if(savedChallenges.nonEmpty) {
      <li>
        <a href="#">
          <i class="fa fa-send-o"></i> <span>@messages("sidebar.challenge.saved")</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
        @for(c <- savedChallenges) {
          <li>
            <a href="#" onclick="addItemToMap(@c.id)"
              @if(c.name.length > 20) {
                data-toggle="tooltip" title="@{c.name}"
                }
            >
              <i class="fa @{if(c.challengeType == Actions.ITEM_TYPE_CHALLENGE) {"fa-wrench"} else {"fa-edit"}}">
              </i> @if(c.name.length > 20) {@{c.name.substring(0, 20)}} else {@{c.name}}
            </a>
          </li>
        }
        </ul>
      </li>
    }
  </ul>
</section>
<script type="application/javascript">
  // get the search cookie and populate the search field
  $(document).ready(function() {
    // tie the search form to the mpSearch function
    $("#searchForm").on('submit', function(e) {
      e.preventDefault();
      mpSearch();
    });

    var params = new SearchParameters();
    var q = "";
    var tags = params.getChallengeTags();
    if (tags.length > 0) {
      q += " tags:";
      for (var i = 0; i < tags.length; i++) {
        q += tags[i];
        if (i != tags.length - 1) {
          q += ",";
        }
      }
    }
    var project = params.getProjectSearch();
    if (project !== '') {
      q += " project:" + project;
    }
    var owner = params.getOwner();
    if (owner !== '') {
      q += " owner:" + owner;
    }
    var challenge = params.getChallengeSearch();
    if (challenge !== '') {
      if (q.length > 0) {
        q += " challenge:" + challenge;
      } else {
        q += challenge;
      }
    }
    $("#searchQ").val(q.trimLeft());
  });

  var updateSearch = function(data) {
    // remove previous results first
    $("#challenges_results").empty();
    $("#surveys_results").empty();
    $("#search_challenges").addClass("hidden");
    var challengesShown = false;
    $("#search_surveys").addClass("hidden");
    var surveysShown = false;
    for (var i = 0; i < data.length && i < @config.numberOfChallenges; i++) {
      if (!challengesShown && data[i].type == 1) {
        $("#search_challenges").removeClass("hidden");
      } else if (!surveysShown && data[i].type != 1) {
        $("#search_surveys").removeClass("hidden");
      }
      var tooltipString = "";
      if (data[i].title.length > 20) {
        tooltipString = "data-toggle=\"tooltip\" title=\"" + data[i].title + "\""
      }
      var shortenedName = data[i].title;
      if (shortenedName.length > 20) {
        shortenedName = data[i].title.substring(0, 20);
      }
      var name = "surveys";
      if (data[i].type == 1) {
        name = "challenges";
      }
      $("<li><a href=\"#\" onclick=\"addItemToMap(" + data[i].id + ");\"" + tooltipString + ">\
            <i class=\"fa fa-circle-o\"></i> " + shortenedName + "</a>\
          </li>").appendTo("#" + name + "_results");
    }
  };

  /**
   * Search allows various flags to be use to define certain properties to search on.
   * "tags" - The tags on a challenge
   * "project" - The project name
   * "challenge" - The challenge name
   * "owner" - The owner of the challenge or project
   * To use these tags you would write it in the search box followed by colon and then the properties for the tag
   * example:
   * tags:tag1,tag2 challenge:ECU project:ECU owner:Mike
   * Order does not matter
   *
   */
  var mpSearch = function() {
    $("#search_header").removeClass("hidden");
    var q = $("#searchQ").val();
    var params = new SearchParameters();
    params.reset();

    var options = q.split(" ");
    var hasSet = false;
    for (var i = 0; i < options.length; i++) {
      var op = options[i].split(":");
      if (op.length == 2) {
        if (op[0] === 'tags') {
          params.setChallengeTags(op[1]);
          hasSet = true;
        } else if (op[0] === 'project') {
          params.setProjectSearch(op[1]);
          hasSet = true;
        } else if (op[0] === 'challenge') {
          params.setChallengeSearch(op[1]);
          hasSet = true;
        } else if (op[0] === 'owner') {
          params.setOwner(op[1]);
          hasSet = true;
        }
      }
    }
    if (!hasSet) {
      params.setChallengeSearch(q);
    }

    if (typeof MRManager !== 'undefined') {
      if ($("#includeMap").is(":checked")) {
        var mapBounds = MRManager.getMapBounds();
        params.setSearchLocation(mapBounds.getWest(), mapBounds.getSouth(), mapBounds.getEast(), mapBounds.getNorth());
      }
      MRManager.getSearchedClusteredPoints(params, updateSearch);
    } else {
      location.href = '@routes.Application.showSearchResults().absoluteURL()';
    }
  };
</script>
