@import org.maproulette.session.User
@(user:User)(implicit messages: Messages)

    <!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
            <!-- User Account Menu -->
        <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
            @if(user.guest) {
                <a href="#" onclick="signIn();" class="dropdown-toggle">
            } else {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            }
                    <!-- The user image in the navbar-->
                <img src="@user.osmProfile.avatarURL" class="user-image" alt="@messages("sidebar.avatarURL")">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">
                @if(user.guest){
                    @messages("user.signin")
                } else {
                    @user.name
                }
                </span>
            </a>
            @if(!user.guest) {
                <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="@user.osmProfile.avatarURL" class="img-circle" alt="@messages("sidebar.avatarURL")">
                        <p>@user.name <a href="@routes.Application.refreshProfile()" class="fa fa-refresh"></a>
                            <small>@messages("user.osmmember") @user.formattedOSMCreatedDate</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="@routes.Application.profile()" class="btn btn-default btn-flat">@messages("user.profile")</a>
                        </div>
                        <div class="pull-right">
                            <a href="@routes.AuthController.signOut()" class="btn btn-default btn-flat">@messages("user.signout")</a>
                        </div>
                    </li>
                </ul>
            }
        </li>
            <!-- Control Sidebar Toggle Button -->
        <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
    </ul>
</div>
<script type="application/javascript">
    function signIn() {
        var redirectURL;
        if (typeof MRManager !== 'undefined') {
            redirectURL = MRManager.getCurrentMapURL();
        } else {
            redirectURL = "";
        }
        location.href = "@{routes.AuthController.authenticate()}?redirect=" + redirectURL;
    }
</script>
