@import org.maproulette.session.User
@import org.maproulette.Config
@(user:User, config:Config)(implicit req: play.api.mvc.RequestHeader, messages: Messages)

    <!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
            <!-- User Account Menu -->
        <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
            @if(user.guest && !config.signIn) {
                <a href="#" onclick="signInOSM();" class="dropdown-toggle">
            } else {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            }
                    <!-- The user image in the navbar-->
                <img src="@user.osmProfile.avatarURL" class="user-image" alt="@messages("sidebar.avatarURL")">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">
                @if(user.guest){
                    @messages("user.signin")
                } else {
                    @user.name
                }
                </span>
            </a>
            @if(user.guest && config.signIn) {
                <ul class="dropdown-menu">
                    <li class="user-header">
                    @helper.form(routes.AuthController.signIn(req.uri), 'id -> "loginForm", 'class -> "form-horizontal") {
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="signInUsername" name="signInUsername" placeholder="@messages("user.osm.username.placeholder")">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="signInAPIKey" name="signInAPIKey" placeholder="@messages("user.osm.apikey.placeholder")">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--div class="pull-left col-md-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="signInRememberMe" name="signInRememberMe"> @*messages("user.rememberme")*@
                                            </label>
                                        </div>
                                    </div-->
                                    <div class="pull-right col-md-2">
                                        <button type="submit" class="btn btn-info pull-right">@messages("user.signin")</button>
                                    </div>
                                </div>
                            </div>
                    }
                    </li>
                    <li class="user-footer">
                        <div class="pull-right">
                            <a href="#" onclick="signInOSM();" class="btn btn-default btn-flat">@messages("user.signin.osm")</a>
                        </div>
                    </li>
                </ul>
            } else { @if(!user.guest) {
                <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="@user.osmProfile.avatarURL" class="img-circle" alt="@messages("sidebar.avatarURL")">
                        <p>@user.name <a href="@routes.Application.refreshProfile()" class="fa fa-refresh"></a>
                            <small>@messages("user.osmmember") @user.formattedOSMCreatedDate</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="@routes.Application.profile()" class="btn btn-default btn-flat">@messages("user.profile")</a>
                        </div>
                        <div class="pull-right">
                            <a href="@routes.AuthController.signOut()" class="btn btn-default btn-flat">@messages("user.signout")</a>
                        </div>
                    </li>
                </ul>
            }}
        </li>
            <!-- Control Sidebar Toggle Button -->
        <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
    </ul>
</div>
<script type="application/javascript">
    function signInOSM() {
        var redirectURL;
        if (typeof MRManager !== 'undefined') {
            redirectURL = MRManager.getCurrentMapURL();
        } else {
            redirectURL = "";
        }
        location.href = "@{routes.AuthController.authenticate()}?redirect=" + redirectURL;
    }
</script>
