include "application.conf"

# Change logging levels to see more interesting things while developing.
logger {
  root=DEBUG
  play=TRACE
  application=TRACE
}

db.default {
  url="jdbc:postgresql://localhost:5432/mp_dev"
  url=${?MR_DATABASE_URL}
  username="osm"
  username=${?MR_DATABASE_USERNAME}
  password="osm"
  password=${?MR_DATABASE_PASSWORD}

  # Set this to 'true' to see the sql statements sent to the database. Very useful when debugging.
  logSql=false
}

maproulette {
  debug=true
  bootstrap=true

  scheduler {
    startTimeJitterForMinuteTasks = "15 seconds"
    startTimeJitterForHourTasks = "30 seconds"
  }

  # In general the super key should not be enabled, an API user with this key can access the system
  # as a super user and has full access to everything. Use with caution.
  #super.key="CHANGE_ME"

  # A comma-separated list of OSM user IDs that will be superusers
  # This can be empty as well
  #super.accounts="CHANGE_ME"

  # Your Mapillary client ID, needed for the Mapillary layer
  # See https://www.mapillary.com/dashboard/developers

  mapillary.clientId="CHANGE_ME"
}

osm {
  # The OSM server we will interact with.
  # Note that you need to register your OAuth app with this server as well.
  server="https://master.apis.dev.openstreetmap.org"
  server=${?MR_OSM_SERVER}

  # needed if system intends to store MR API keys in osm user preferences.
  # replace maproulette_apikey_v2 with a unique parameter
  # see https://wiki.openstreetmap.org/wiki/API_v0.6#Preferences_of_the_logged-in_user
  preferences="/api/0.6/user/preferences/maproulette_apikey_v2"

  # The Consumer and Secret keys as provided by your OAuth app. Set via conf or environment variables.
  consumerKey="CHANGE_ME"
  consumerKey=${?MR_OAUTH_CONSUMER_KEY}
  consumerSecret="CHANGE_ME"
  consumerSecret=${?MR_OAUTH_CONSUMER_SECRET}
}
