@()(implicit messages: Messages)
<div class="post">
    <div class="user-block">
        <span class='description'>7:30 PM today</span>
    </div>
    <p>
        Completed 5 Tasks
    </p>
</div>

<div class="post">
    <div class='user-block'>
        <span class='description'>3 days ago</span>
    </div>
    <p>
        Completed 100 tasks
    </p>
</div>

<div class="post">
    <div class='user-block'>
        <span class='description'>5 days ago</span>
    </div>
    <p>
        Completed 50000 tasks
    </p>
</div>
