@import org.maproulette.session.User
@(user:User)(implicit messages: Messages)
<ul class="timeline" id="activityTimeline">
</ul>
<script language="JavaScript">
    var dateFormat = "YYYY-MM-DD[T]hh:mm:ss";
    var showDateFormat = "MM/DD/YYYY";
    var idDateFormat = "MM_DD_YYYY";
    var currentPage = 0;
    var maxPage = -1;
    var pageSize = 10;

    //onload retrieve the daily user activity first page
    var loadActivity = function(limit, page, success) {
        jsRoutes.org.maproulette.controllers.api.DataController.getStatusSummary(@{user.osmProfile.id}, "", "", "", "", limit, page).ajax({
            success: function(data) {
                if (typeof success == "undefined") {
                    buildSummaryPage(data);
                } else {
                    success(data);
                }
            },
            error : function(data) { ToastUtils.Error(Messages("users.profile.activity.summary.failure")); }
        });
    };

    var buildSummaryPage = function(data) {
        var activityTimeline = $("#activityTimeline");
        activityTimeline.append("<li><i onclick='loadPreviousActivity();' class='fa fa-clock-o bg-gray'></i><br/></li>");
        if (data.length == 0) {
            activityTimeline.append("<li class='time-label'><span class='bg-yellow'>" + Messages("users.profile.activity.none") + "</span></li>");
        } else {
            for (row in data) {
                var timelineDate = moment(data[row].date, dateFormat);
                activityTimeline.append("<li class='time-label'><span class='bg-green'>" + timelineDate.format(showDateFormat) + "</span></li>");
                if (data[row].fixedUpdates > 0) {
                    activityTimeline.append(buildBox(data[row].date, timelineDate, data[row].fixedUpdates, data[row].lastFixedUpdated, 1, "fa-line-chart bg-green", "fixed"));
                }
                if (data[row].falsePositiveUpdates > 0) {
                    activityTimeline.append(buildBox(data[row].date, timelineDate, data[row].falsePositiveUpdates, data[row].lastFalsePositiveUpdated, 2, "fa-exclamation-triangle bg-red", "falsepositive"));
                }
                if (data[row].skippedUpdates > 0) {
                    activityTimeline.append(buildBox(data[row].date, timelineDate, data[row].skippedUpdates, data[row].lastSkippedUpdated, 3, "fa-recycle bg-yellow", "skipped"));
                }
                if (data[row].alreadyFixedUpdates > 0) {
                    activityTimeline.append(buildBox(data[row].date, timelineDate, data[row].alreadyFixedUpdates, data[row].lastAlreadyFixedUpdated, 5, "fa-map bg-aqua", "alreadyfixed"));
                }
                if (data[row].tooHardUpdates > 0) {
                    activityTimeline.append(buildBox(data[row].date, timelineDate, data[row].tooHardUpdates, data[row].lastTooHardUpdated, 6, "fa-gear bg-purple", "toohard"));
                }
                if (data[row].answeredUpdates > 0) {
                    activityTimeline.append(buildBox(data[row].date, timelineDate, data[row].answeredUpdates, data[row].lastAnswered, 7, "fa-question-circle bg-green", "answered"));
                }
            }
        }
        activityTimeline.append("<li><i onclick='loadNextActivity();' class='fa fa-clock-o bg-gray'></i></li>");
    };

    var buildBox = function(date, timelineDate, updates, lastUpdated, typeId, iClass, message) {
        var lastUpdateTimestamp = moment(lastUpdated, dateFormat);
        var timelineDateString = timelineDate.format(idDateFormat);
        var $liRoot = $('<li/>');
        $liRoot.append("<i class='fa " + iClass + "'></i>");
        var $timelineDiv = $('<div/>', {
            "class": "timeline-item"
        });
        var $timelineBodyDiv = $('<div/>', {
            "class":"timeline-body",
            "html":Messages("users.profile.activity." + message, updates, getTimeAgoString(lastUpdateTimestamp))
        });
        var $timelineFooter = $('<div/>', {
            "class":"timeline-footer"
        });
        var $activityButton = $('<a/>', {
            "class":"btn btn-primary btn-xs",
            //"data-toggle":"collapse",
            //"data-target":"#activityBox_" + typeId + "_" + timelineDateString,
            "text":Messages("users.profile.activity.see"),
            "click": function() {
                loadActivityTable(typeId, date, pageSize, 0);
            }
        });
        var $activityDiv = $('<div/>', {
            "class":"box collapse",
            "id":"activityBox_" + typeId + "_" + timelineDateString
        });
        $timelineFooter.append($activityButton);
        $timelineBodyDiv.append($timelineFooter);
        $timelineDiv.append($timelineBodyDiv);
        $liRoot.append($timelineDiv);
        $liRoot.append($activityDiv);
        return $liRoot;
    };

    var getTimeAgoString = function(date) {
        var dateDiff = moment.duration(moment().diff(date));
        return dateDiff.humanize() + " ago";
    };

    var loadActivityTable = function(taskType, date, limit, page) {
        var momentDate = moment(date, dateFormat);
        var activityBox = $("#activityBox_" + taskType + "_" + momentDate.format(idDateFormat));
        var activityBoxVisible = activityBox.is(":visible");
        $("div[id^='activityBox_']").hide("slow");
        if (!activityBoxVisible) {
            if (activityBox.is(":empty")) {
                jsRoutes.org.maproulette.controllers.api.DataController.getStatusActivity(@{user.osmProfile.id}, "", "", date, date, taskType, "", limit, page*limit).ajax({
                    success: function(data) {
                        var $activityBoxBody = $('<div/>', {
                            "class":"box-body"
                        });
                        var $table = $('<table/>', {
                            "class":"table table-bordered table-hover",
                        });
                        var $thead = $('<thead/>');
                        var $headRow = $('<tr/>')
                                .append("<th>@messages("users.profile.activity.table.time")</th>")
                                .append("<th>@messages("users.profile.activity.table.challenge")</th>")
                                .append("<th>@messages("users.profile.activity.table.challengename")</th>")
                                .append("<th>@messages("users.profile.activity.table.task")</th>")
                                .append("<th>@messages("users.profile.activity.table.changeset")</th>");
                        $thead.append($headRow);
                        $table.append($thead);
                        $activityBoxBody.append($table);
                        activityBox.append($activityBoxBody);
                        for (row in data) {
                            var taskId = data[row].taskId;
                            $table.append($('<tr/>')
                                    .append("<td>" + data[row].created + "</td>")
                                    .append("<td><a href='/view/" + data[row].challengeId + "'>" + data[row].challengeId + "</a></td>")
                                    .append("<td><a href='/ui/metrics/" + data[row].challengeId + "'>" + data[row].challengeName + "</a></td>")
                                    .append("<td>" +
                                            "<a href='/map/" + data[row].challengeId + "/" + taskId + "'>" + taskId + "</a> " +
                                            "<a href='#' id='show-comments-" + taskId + "' data-toggle='popover' data-trigger='focus' role='button' tabindex='0'>" +
                                            "<i class='fa fa-commenting-o' aria-hidden='true'></i></a>" +
                                            "</td>")
                                    .append("<td>N/A</td>"));
                            initializeComments(taskId, "show-comments-" + taskId, "bottom");
                        }
                    },
                    error: function(data) { ToastUtils.Error(Messages("users.profile.activity.failure")); }
                });
            }
            activityBox.show("slow");
        }
    };

    var loadNextActivity = function() {
        if (maxPage == -1 || currentPage < maxPage) {
            currentPage += 1;
            loadActivity(10, currentPage, function (data) {
                if (data.length > 0) {
                    var activityTimeline = $("#activityTimeline");
                    activityTimeline.empty();
                    buildSummaryPage(data);
                } else {
                    currentPage -= 1;
                    maxPage = currentPage;
                }
            });
        }
    };

    var loadPreviousActivity = function() {
        if (currentPage > 0) {
            currentPage -= 1;
            loadActivity(pageSize, currentPage, function (data) {
                if (data.length > 0) {
                    var activityTimeline = $("#activityTimeline");
                    activityTimeline.empty();
                    buildSummaryPage(data);
                } else {
                    currentPage += 1;
                }
            });
        }
    };

    loadActivity(pageSize, currentPage, function(data) {
        if (data.length < 10) {
            maxPage = 0;
        }
        buildSummaryPage(data);
    });
</script>

