@()
<!-- Modal -->
<div id="advancedSearchBox" class="modal fade modal-primary top-item" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box box-solid box-primary" align="center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="box-body">
                    <label>Advanced Search</label>
                </div>
                <div class="box-footer">
                    <button id="advancedSearch_submit" class="btn btn-primary btn-large btn-action pull-left">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
