@import org.maproulette.session.User
@(user:User)

<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
  <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
  <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
  <!-- Tab panes -->
<div class="tab-content">
    <!-- Home tab content -->
  <div class="tab-pane active" id="control-sidebar-home-tab">
    <h3 class="control-sidebar-heading">Tasks Progress</h3>
    <ul class="control-sidebar-menu">
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Curent Challenge
            <span class="label label-danger pull-right">70%</span>
          </h4>
          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Total Tasks
            <span class="label label-info pull-right">1342</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Completed Tasks
            <span class="label label-info pull-right">500 (45%)</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Skipped Tasks
            <span class="label label-info pull-right">5 (1%)</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            False Positive Tasks
            <span class="label label-info pull-right">124 (10%)</span>
          </h4>
        </a>
      </li>
    </ul>
    <h3 class="control-sidebar-heading">Recent Activity</h3>
    <ul class="control-sidebar-menu">
      <li>
        <a href="javascript::;">
          <i class="menu-icon fa fa-check-square-o bg-red"></i>
          <div class="menu-info">
            <h4 class="control-sidebar-subheading">Completed Task "Test Task"</h4>
            <p><b>Project:</b> Test Project<br/><b>Challenge:</b> Test Challenge</p>
          </div>
        </a>
      </li>
    </ul><!-- /.control-sidebar-menu -->
  </div>
    <!-- Stats tab content -->
  <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
    <!-- Settings tab content -->
  <div class="tab-pane" id="control-sidebar-settings-tab">
    <form method="post">
      <h3 class="control-sidebar-heading">General Settings</h3>
      <div class="form-group">
        <label class="control-sidebar-subheading">
          Report panel usage
          <input type="checkbox" class="pull-right" checked>
        </label>
        <p>
          Some information about this general settings option
        </p>
      </div>
    </form>
  </div>
</div>
