@import org.maproulette.Config
@(config:Config)(implicit req: play.api.mvc.RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
@views.html.includes.metricsIncludes(config.isDebugMode)
<div class="post">
    <div class="box-body">
        <div class="box-header with-border">
            <h3 class="box-title">Activity</h3>
        </div>
        <div id="canvasContainer" class="chart">
            <canvas id="activityChart" style="height:180px;"></canvas>
        </div>
    </div>
</div>
<script type="application/javascript">
    var dateFormat = "YYYY-MM-DD";
    var activityChartData = {
        labels: [],
        datasets: [
            {
                label: "@messages("metrics.challenge.completion.fixed")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(0, 166, 90, 0.4)",
                borderColor: "rgba(0, 166, 90, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'round',
                pointBorderColor: "rgba(0, 166, 90, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(0, 166, 90, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.falsepositive")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(221, 75, 57, 0.4)",
                borderColor: "rgba(221, 75, 57, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(221, 75, 57, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(221, 75, 57, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.skipped")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(243, 156, 18, 0.4)",
                borderColor: "rgba(243, 156, 18, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(243, 156, 18, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(243, 156, 18, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.alreadyfixed")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(0, 192, 239, 0.4)",
                borderColor: "rgba(0, 192, 239, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(0, 192, 239, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(0, 192, 239, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            },
            {
                label: "@messages("metrics.challenge.completion.toohard")",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(160, 32, 240, 0.4)",
                borderColor: "rgba(160, 32, 240, 1)",
                borderCapStyle: 'butt',
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(160, 32, 240, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(160, 32, 240, 1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: []
            }
        ]
    };

    //-------------
    //- LINE CHART -
    //--------------
    var data = [{
        "date": "2016-10-04",
        "status": 0,
        "statusName": "Created",
        "count": 0
    }, {
        "date": "2016-10-05",
        "status": 6,
        "statusName": "Too_Hard",
        "count": 1
    }, {
        "date": "2016-10-05",
        "status": 3,
        "statusName": "Skipped",
        "count": 5
    }, {
        "date": "2016-10-06",
        "status": 0,
        "statusName": "Created",
        "count": 0
    }, {
        "date": "2016-10-07",
        "status": 0,
        "statusName": "Created",
        "count": 0
    }, {
        "date": "2016-10-08",
        "status": 0,
        "statusName": "Created",
        "count": 0
    }, {
        "date": "2016-10-09",
        "status": 0,
        "statusName": "Created",
        "count": 0
    }, {
        "date": "2016-10-10",
        "status": 0,
        "statusName": "Created",
        "count": 0
    }];
    // initialize the matrix dataset that will hold our status counts to dates
    var source = new Array(5);
    function resetSource() {
        for (var i = 0; i < 5; i++) {
            source[i] = [];
        }
    }

    /**
     * This will add the activity data from the API request to the source data. The source data
     * ignores all data that has the 0 (Created) or 4 (Deleted)
     */
    function addToSource(date, status, count) {
        for (var i = 0; i < 5; i++) {
            if (typeof source[i][date] === 'undefined') {
                source[i][date] = 0;
            }
        }
        if (status != -1) {
            source[status][date] += count;
        }
    }

    function updateData() {
        resetSource();
        for (var i = 0; i < data.length; i++) {
            var currentStatus = data[i].status;
            var dataset = currentStatus;
            var count = data[i].count;

            // ignore status 0 and 4
            if (currentStatus != 0 && currentStatus != 4) {
                if (currentStatus > 4) {
                    dataset = currentStatus - 2;
                } else if (currentStatus > 0) {
                    dataset = currentStatus - 1;
                }
            } else {
                currentStatus = -1;
            }
            addToSource(moment(data[i].date, dateFormat), dataset, count);
        }
    }
    updateData();
    var activityChart = Metrics.getActivityChart("line", "activityChart", activityChartData);
    Metrics.updateChartData(true, activityChart, source);
</script>
