@import org.maproulette.session.User
@import org.maproulette.session.UserSettings
@import org.maproulette.Config
@(user:User, config:Config, activeTab:Int=0, settingsForm:Option[Form[UserSettings]]=None)(implicit req: play.api.mvc.RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @messages("user.profile.header")
    </h1>
</section>

    <!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-3">

                <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@user.osmProfile.avatarURL" alt="@messages("sidebar.avatarURL")">
                    <h3 class="profile-username text-center">@user.name</h3>
                    <p class="text-muted text-center">@user.osmProfile.description</p>
                </div>
            </div>

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@messages("user.profile.aboutme")</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-map-marker margin-r-5"></i> @messages("user.profile.location")</strong>
                    <p class="text-muted" id="location"></p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> @messages("user.profile.apikeys")</strong>
                    <p class="text-muted word-wrap" id="apikey_text">@user.apiKey.getOrElse("")</p>
                    <div class="col-xs-6 text-center pull-right">
                        <a href="#" onclick="rebuildAPIKey();"><b>@messages("user.apikey.new")</b></a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <!--li @if(activeTab==0) { class="active" }><a href="#activity" data-toggle="tab">@messages("user.profile.activity")</a></li>
                    <li @if(activeTab==1) { class="active" }><a href="#metrics" data-toggle="tab">@messages("user.profile.metrics")</a></li-->
                    <li @if(activeTab==2 || 1==1) { class="active" }><a href="#settings" data-toggle="tab">@messages("user.profile.settings")</a></li>
                </ul>
                <div class="tab-content">
                    <!--div class="@if(activeTab==0) { active } tab-pane" id="activity">
                        @*views.html.user.activity()*@
                    </div>
                    <div class="@if(activeTab==1) { active } tab-pane" id="metrics">
                        @*views.html.user.metrics(config)*@
                    </div-->
                    <div class="@if(activeTab==2 || 1==1) { active } tab-pane" id="settings">
                        @views.html.user.settings(user, settingsForm.getOrElse(User.settingsForm.fill(user.settings)))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/javascript">
    $(document).ready(function() {
        Utils.getLocation(@user.osmProfile.homeLocation.latitude, @user.osmProfile.homeLocation.longitude,
            function(addr) {
                var data = addr.address;
                var location = "";
                if (typeof data.city !== 'undefined' && data.city !== null) {
                    location = data.city;
                    location += Utils.addComma(location);
                }
                if (data.state) {
                    location += data.state;
                    location += Utils.addComma(location);
                }
                if (data.country) {
                    location += data.country;
                }
                $("#location").html(location);
            },
            function(data) {
                $("#location").html("@user.homeLocation (@user.osmProfile.homeLocation.latitude, @user.osmProfile.homeLocation.longitude)");
            }
        );
    });

    var rebuildAPIKey = function() {
        generateAPIKey(function(data) {
            $("#apikey_text").html(data);
        }, @user.id)
    }
</script>
