@import org.maproulette.actions.ActionItem
@import org.maproulette.models.Task
@import org.maproulette.actions.Actions
@(userActivity:List[ActionItem])

<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
  <li class="active" id="control-sidebar-home-upper-tab"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
  <li><a href="#control-sidebar-activity-tab" data-toggle="tab"><i class="fa fa-bars"></i></a></li>
  <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
  <!-- Tab panes -->
<div class="tab-content">
    <!-- Home tab content -->
  <div class="tab-pane active" id="control-sidebar-home-tab">
    <h3 class="control-sidebar-heading">Challenge Progress</h3>
    <ul class="control-sidebar-menu">
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Curent Challenge:
            <span id="challenge_complete_percent" class="label label-danger pull-right">0%</span>
            <br/><span id="challenge_name">...</span>
          </h4>
          <div class="progress progress-xxs">
            <div id="challenge_complete_percent_bar" class="progress-bar progress-bar-danger" style="width: 0%"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Total Tasks
            <span id="challenge_total_tasks" class="label label-info pull-right">0 (0%)</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Still Available Tasks
            <span id="challenge_available_tasks" class="label label-info pull-right">0 (0%)</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Fixed Tasks
            <span id="challenge_fixed_tasks" class="label label-info pull-right">0 (0%)</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Skipped Tasks
            <span id="challenge_skipped_tasks" class="label label-info pull-right">0 (0%)</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            False Positive Tasks
            <span id="challenge_fp_tasks" class="label label-info pull-right">0 (0%)</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Already Fixed Tasks
            <span id="challenge_af_tasks" class="label label-info pull-right">0 (0%)</span>
          </h4>
        </a>
      </li>
      <li>
        <div class="pull-right">
          <a href="#" onclick="viewMetrics();">
            <button class="btn-xs btn-block btn-primary">View Metrics</button>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="tab-pane" id="control-sidebar-activity-tab">
    <h3 class="control-sidebar-heading">Recent Activity</h3>
    <ul class="control-sidebar-menu">
      @for(ua <- userActivity) {
        <li>
          @if(ua.action.getOrElse(Actions.ACTION_TYPE_TASK_STATUS_SET) == Actions.ACTION_TYPE_QUESTION_ANSWERED) {
            <i class="activity-icon fa fa-edit bg-green"></i>
            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Answered Question
                @ua.itemId match {
                  case Some(value) => {<a href="@routes.Application.map(-1, value)">[@{ua.extra.getOrElse("Undefined")}]</a>}
                  case None => {NOT FOUND}
                }
              </h4>
              <p>
                <b>Date: </b> @{ua.created}
              </p>
            </div>
          } else {
            <i class="activity-icon fa fa-check-square-o bg-green"></i>
            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Completed Task
                @ua.itemId match {
                  case Some(value) => {<a href="@routes.Application.map(-1, value)">[@{ua.extra.getOrElse("Undefined")}]</a>}
                  case None => {NOT FOUND}
                }
              </h4>
              <p>
                <b>Updated Status to:</b> @{Task.getStatusName(ua.status.getOrElse(-1)).getOrElse("Undefined")}<br/>
                <b>Date: </b> @{ua.created}
              </p>
            </div>
          }
        </li>
      }
    </ul><!-- /.control-sidebar-menu -->
  </div>
    <!-- Settings tab content -->
  <div class="tab-pane" id="control-sidebar-settings-tab">
    <form method="post">
      <h3 class="control-sidebar-heading">General Settings</h3>
      <div class="form-group">
        <label class="control-sidebar-subheading">
          Report panel usage
          <input type="checkbox" class="pull-right" checked>
        </label>
        <p>
          Some information about this general settings option
        </p>
      </div>
    </form>
  </div>
</div>
<script type="application/javascript">
  if (typeof MRManager === 'undefined') {
    $("#control-sidebar-home-upper-tab").remove();
    $("#control-sidebar-home-tab").remove();
    $("#control-sidebar-activity-tab").addClass("active");
  }

  function viewMetrics() {
    location.href = "/ui/metrics/" + MRManager.getCurrentChallengeData().id;
  }

  function updateChallengeInfo(challengeId) {
      jsRoutes.org.maproulette.controllers.api.DataController.getChallengeSummary(challengeId)
              .ajax({
                success: function (listData) {
                  var data = listData[0];
                  $("#challenge_name").text(data.name);
                  var createdTasks = getCountValue(data.available);
                  var fixedTasks = getCountValue(data.fixed);
                  var falsePositiveTasks = getCountValue(data.falsePositive);
                  var skippedTasks = getCountValue(data.skipped);
                  var alreadyFixedTasks = getCountValue(data.alreadyFixed);
                  var totalTasks = createdTasks + fixedTasks + falsePositiveTasks + skippedTasks + alreadyFixedTasks;
                  $("#challenge_total_tasks").text(totalTasks);
                  var availableTasks = createdTasks + skippedTasks;
                  $("#challenge_available_tasks").text(getShowValue(availableTasks, totalTasks));
                  $("#challenge_fixed_tasks").text(getShowValue(fixedTasks, totalTasks));
                  $("#challenge_fp_tasks").text(getShowValue(falsePositiveTasks, totalTasks));
                  $("#challenge_skipped_tasks").text(getShowValue(skippedTasks, totalTasks));
                  $("#challenge_af_tasks").text(getShowValue(alreadyFixedTasks, totalTasks));
                  var percentComplete = parseFloat((((availableTasks / totalTasks) * 100) - 100) * -1).toFixed(0);
                  $("#challenge_complete_percent").text(percentComplete + "%");
                  $("#challenge_complete_percent_bar").css("width", percentComplete + "%")
                },
                error: Utils.handleError
              });
  }

  function getCountValue(value) {
    if (typeof value === 'undefined') {
      return 0;
    }
    return value;
  }

  function getShowValue(value, total) {
    if (value == 0) {
      return "0 (0%)";
    }
    return value + " (" + parseFloat((value / total) * 100).toFixed(0) + "%)";
  }
</script>
