@import org.maproulette.session.User
@import org.maproulette.session.UserSettings
@import views.html.admin.forms.elements._
@(user:User, settingsForm:Form[UserSettings])(implicit messages: Messages)
@helper.form(routes.FormEditController.userSettingsPost(user.id), 'class -> "form-horizontal") {
    <div class="box-body">
        @select(settingsForm("defaultEditor"),
            label = messages("user.profile.settings.editor"),
            optionList = List(
                (messages("user.profile.settings.select"), "-1"),
                (messages("user.profile.settings.editor.id"), "0"),
                (messages("user.profile.settings.editor.josm"), "1"),
                (messages("user.profile.settings.editor.josmlayer"), "2")
            ),
            isMultiple = false,
            help = messages("user.profile.settings.editor.help"),
            defaultSelected = Some("-1")
        )
        @select(settingsForm("defaultBasemap"),
            label = messages("user.profile.settings.basemap"),
            optionList = List(
                (messages("user.profile.settings.select"), "-1"),
                (messages("common.basemap.osm"), "0"),
                (messages("common.basemap.ocm"), "1"),
                (messages("common.basemap.bing"), "2"),
                (messages("user.profile.settings.basemap.custom"), "3")
            ),
            isMultiple = false,
            help = messages("user.profile.settings.basemap.help"),
            defaultSelected = Some("-1")
        )
        @text(settingsForm("customBasemap"),
            label = messages("user.profile.settings.basemap.custom.title"),
            placeholder = messages("user.profile.settings.basemap.custom.placeholder"),
            help = messages("user.profile.settings.basemap.custom.help")
        )
        @select(settingsForm("locale"),
            label = messages("user.profile.settings.locale"),
            optionList = List(
                (messages("user.profile.settings.select"), "-1"),
                ("en-US (US English)", "en-US"),
                ("af (Afrikaans)", "af"),
                ("de (Deutsch)", "de"),
                ("fr (Français)", "fr")
            ),
            isMultiple = false,
            help = messages("user.profile.settings.locale.help"),
            defaultSelected = Some("-1")
        )
        @select(settingsForm("theme"),
            label = messages("user.profile.settings.theme"),
            optionList = List(
                (messages("user.profile.settings.select"), "-1"),
                (messages("user.profile.settings.theme.black"), "0"),
                (messages("user.profile.settings.theme.black.light"), "1"),
                (messages("user.profile.settings.theme.blue"), "2"),
                (messages("user.profile.settings.theme.blue.light"), "3"),
                (messages("user.profile.settings.theme.green"), "4"),
                (messages("user.profile.settings.theme.green.light"), "5"),
                (messages("user.profile.settings.theme.purple"), "6"),
                (messages("user.profile.settings.theme.purple.light"), "7"),
                (messages("user.profile.settings.theme.red"), "8"),
                (messages("user.profile.settings.theme.red.light"), "9"),
                (messages("user.profile.settings.theme.yellow"), "10"),
                (messages("user.profile.settings.theme.yellow.light"), "11")
            ),
            isMultiple = false,
            help = messages("user.profile.settings.theme.help"),
            defaultSelected = Some("-1")
        )
        <div class="form-group" style="display:none;">
            @checkbox(settingsForm("emailOptIn"),
                label = messages("user.profile.settings.emailoptin")
            )
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">@messages("user.profile.settings.update")</button>
    </div>
}
