@import org.maproulette.session.User
@import org.maproulette.models.Challenge
@import org.maproulette.actions.Actions
@(user:User, newChallenges:List[Challenge], hotChallenges:List[Challenge],
        featuredChallenges:List[Challenge])(implicit req: play.api.mvc.RequestHeader, messages: Messages)
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="@user.osmProfile.avatarURL" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>@user.name</p>
        <!-- Status -->
      @if(!user.guest) {
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      }
    </div>
  </div>

    <!-- search form (Optional) -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input id="searchQ" type="text" name="q" class="form-control" placeholder="Search..." onkeyup="mpSearch();">
      <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
    <a href="#" class="pull-right text-light-blue" onclick="showSearch();">Show</a>
  </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li id="search_header" class="header hidden">Search Results</li>
    <li id="search_surveys" class="treeview hidden">
      <a href="#">
        <i class="fa fa-edit"></i> <span>Surveys</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul id="surveys_results" class="treeview-menu">
      </ul>
    </li>
    <li id="search_challenges" class="treeview hidden">
      <a href="#">
        <i class="fa fa-wrench"></i> <span>Challenges</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul id="challenges_results" class="treeview-menu">
      </ul>
    </li>
    @if(user.isAdmin || user.isSuperUser) {
      <li class="header">Administration</li>
        <!-- Optionally, you can add icons to the links -->
      <li><a href="@routes.Application.adminUIProjectList()"><i class="fa fa-folder-open"></i> <span>Projects</span></a></li>
      <li><a href="@routes.Application.metrics()"><i class="fa fa-pie-chart"></i> <span>Challenge Metrics</span></a></li>
      <li><a href="@routes.Application.metrics(1)"><i class="fa fa-pie-chart"></i> <span>Survey Metrics</span></a></li>
      @if(user.isSuperUser) {
        <li><a href="@routes.Application.users()"><i class="fa fa-users"></i> <span>Users</span></a></li>
      }
    }
    <li class="header">What to do?</li>
    @if(hotChallenges.nonEmpty) {
    <li class="treeview">
      <a href="#">
        <i class="fa fa-fire"></i> <span>Hot</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
      @for(c <- hotChallenges) {
        <li>
          <a href="#" onclick="addItemToMap(@c.id)"
            @if(c.name.length > 20) {
              data-toggle="tooltip" title="@{c.name}"
            }
          >
            <i class="fa @{if(c.challengeType == Actions.ITEM_TYPE_CHALLENGE) {"fa-wrench"} else {"fa-edit"}}">
            </i> @if(c.name.length > 20) {@{c.name.substring(0, 20)}} else {@{c.name}}
          </a>
        </li>
      }
      </ul>
    </li>
    }
    @if(newChallenges.nonEmpty) {
    <li>
      <a href="#">
        <i class="fa fa-plus-circle"></i> <span>Latest</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        @for(c <- newChallenges) {
          <li>
            <a href="#" onclick="addItemToMap(@c.id)"
              @if(c.name.length > 20) {
                data-toggle="tooltip" title="@{c.name}"
                }
            >
              <i class="fa @{if(c.challengeType == Actions.ITEM_TYPE_CHALLENGE) {"fa-wrench"} else {"fa-edit"}}">
              </i> @if(c.name.length > 20) {@{c.name.substring(0, 20)}} else {@{c.name}}
            </a>
          </li>
        }
      </ul>
    </li>
    }
    @if(featuredChallenges.nonEmpty) {
    <li>
      <a href="#">
        <i class="fa fa-send-o"></i> <span>Featured</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        @for(c <- featuredChallenges) {
          <li>
            <a href="#" onclick="addItemToMap(@c.id)"
              @if(c.name.length > 20) {
                data-toggle="tooltip" title="@{c.name}"
                }
            >
              <i class="fa @{if(c.challengeType == Actions.ITEM_TYPE_CHALLENGE) {"fa-wrench"} else {"fa-edit"}}">
              </i> @if(c.name.length > 20) {@{c.name.substring(0, 20)}} else {@{c.name}}
            </a>
          </li>
        }
      </ul>
    </li>
    }
  </ul>
</section>
<script type="application/javascript">
  var showSearch = function() {
    // setup the search cookie
    var params = new SearchParameters();
    params.reset();
    params.setChallengeSearch($("#searchQ").val());
    if (typeof MRManager !== 'undefined') {
      MRManager.getSearchedClusteredPoints(params);
    } else {
      location.href = '@routes.Application.showSearchResults().absoluteURL()';
    }
  };

  var updateSearch = function(data, name) {
    // remove previous results first
    $("#" + name + "_results").empty();
    if (data.length > 0) {
      $("#search_" + name).removeClass("hidden");
    } else {
      $("#search_" + name).addClass("hidden");
    }
    for (var i = 0; i < data.length; i++) {
      var dataObject;
      if (name === "surveys") {
        dataObject = data[i].challenge;
      } else {
        dataObject = data[i];
      }
      var tooltipString = "";
      if (dataObject.name.length > 20) {
        tooltipString = "data-toggle=\"tooltip\" title=\"" + dataObject.name + "\""
      }
      var shortenedName = dataObject.name;
      if (shortenedName.length > 20) {
        shortenedName = dataObject.name.substring(0, 20);
      }
      $("<li><a href=\"#\" onclick=\"addItemToMap(" + dataObject.id + ");\"" + tooltipString + ">\
            <i class=\"fa fa-circle-o\"></i> " + shortenedName + "</a>\
          </li>").appendTo("#" + name + "_results");
    }
  };

  var searchTimer;
  var mpSearch = function() {
    clearTimeout(searchTimer);
    searchTimer=setTimeout(function () {
      $("#search_header").removeClass("hidden");
      var q = $("#searchQ").val();
      if (q === "") {
        $("#search_header").addClass("hidden");
        $("#search_surveys").addClass("hidden");
        $("#search_challenges").addClass("hidden");
        $("#search_tags").addClass("hidden");
      } else {
        // get Challenges that match the search query
        findChallenges(q, -1, 5, 0, true,
                function(data) {
                  console.log(data);
                  updateSearch(data, "challenges");
                }, Utils.handleError
        );
        // get surveys that match the search query
        findSurveys(q, -1, 5, 0, true,
                function(data) {
                  console.log(data);
                  updateSearch(data, "surveys");
                }, Utils.handleError
        );
      }
    },1000);
  };
</script>
