@import org.maproulette.models.Challenge
@import views.html.admin.forms.elements._
@import org.maproulette.actions.Actions
@import org.maproulette.session.User
@(user:User, parentId:Long, challengeForm:Form[Challenge])(implicit messages: Messages, webJarAssets: WebJarAssets)
@views.html.admin.common.header("Administration", null,
    Map(
        "Projects" -> ("fa fa-folder", routes.Application.adminUIProjectList()),
        "Challenges" -> ("", routes.Application.adminUIChildList(Actions.ITEM_TYPE_CHALLENGE_NAME, parentId))
    )
)
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"dist/js/fuelux.min.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"dist/js/query-builder.standalone.min.js"))"></script>
<link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate(s"dist/css/fuelux.min.css"))"/>
<link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate(s"dist/css/query-builder.default.min.css"))"/>

@defining(!(challengeForm("id").value.getOrElse("-1").toInt == -1)) { isInEdit =>
    <section class="content fuelux">
        <div class="box box-primary">
            <div class="box-header with-border">
                @if(!isInEdit)  {
                    <h3 class="box-title">Create New Challenge</h3>
                } else {
                    <h3 class="box-title">Edit Challenge</h3>
                }
            </div><!-- /.box-header -->

            <!-- form start -->
            @helper.form(routes.FormEditController.challengeFormPost(parentId, challengeForm("id").value.getOrElse("-1").toLong),
                'id -> "challengeForm", 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
                <div class="box-body">
                    <div class="wizard" data-initialize="wizard" id="challengeWizard">
                        <div class="steps-container">
                            <ul class="steps">
                                <li data-step="1" data-name="campaign" class="active">
                                    <span class="badge">1</span>General
                                    <span class="chevron"></span>
                                </li>
                                <li data-step="2">
                                    <span class="badge">2</span>GeoJSON
                                    <span class="chevron"></span>
                                </li>
                                <li data-step="3">
                                    <span class="badge">3</span>Priority
                                    <span class="chevron"></span>
                                </li>
                                <!--li data-step="4">
                                    <span class="badge">4</span>Schedule
                                    <span class="chevron"></span>
                                </li>
                                <li data-step="5">
                                    <span class="badge">5</span>Extra Info
                                    <span class="chevron"></span>
                                </li-->
                            </ul>
                        </div>
                        <div class="actions">
                            <button type="button" class="btn btn-default btn-prev">
                                <span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
                            <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next
                                <span class="glyphicon glyphicon-arrow-right btn-next"></span></button>
                        </div>
                        <div class="step-content">
                            <div class="step-pane active sample-pane alert" data-step="1">
                                <h4>General</h4>
                                @views.html.admin.forms.challenge.general(challengeForm, parentId, user)
                            </div>
                            <div class="step-pane sample-pane bg-info alert" data-step="2">
                                <h4>GeoJSON</h4>
                                @views.html.admin.forms.challenge.creation(challengeForm)
                            </div>
                            <div class="step-pane sample-pane bg-info alert" data-step="3">
                                <h4>Priority</h4>
                                @views.html.admin.forms.challenge.priority(challengeForm)
                            </div>
                            <!--div class="step-pane sample-pane bg-info alert" data-step="4">
                                <h4>Schedule</h4>
                                @views.html.admin.forms.challenge.schedule(challengeForm)
                            </div>
                            <div class="step-pane sample-pane bg-info alert" data-step="5">
                                <h4>Extra Info</h4>
                                @views.html.admin.forms.challenge.extra(challengeForm)
                            </div-->
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <a class="btn btn-primary" href="@routes.Application.adminUIChildList("Challenge", parentId)">Cancel</a>
                </div>
            }
        </div><!-- /.box -->
    </section>
}
<script type="application/javascript">
$().ready(function() {
    $("#challengeWizard").wizard().on('finished.fu.wizard', function (e, data) {
        // make sure the overpass query is clean first
        var opquery = $("#overpassQL").val();
        $('#overpassQL').val(opquery.replace(/[^\x20-\x7E\x0A]+/g, ''));
        // get the rules for the high, medium and low priorities
        $('#highPriorityRule').val(JSON.stringify($('#priority-high-builder').queryBuilder('getRules')));
        $('#mediumPriorityRule').val(JSON.stringify($('#priority-medium-builder').queryBuilder('getRules')));
        $('#lowPriorityRule').val(JSON.stringify($('#priority-low-builder').queryBuilder('getRules')));
        // finally submit the form
        $("#challengeForm").submit();
    });
});
</script>
