@import org.maproulette.models.Project
@import views.html.admin.forms.elements._
@import org.maproulette.session.User
@(user:User, parentId:Long, projectForm:Form[Project], breadcrumbs:Map[String, (String, Call)])(implicit messages: Messages)

@views.html.admin.common.header(messages("project.form.administration.title"), null,
    Map(messages("project.form.administration.projects") -> ("fa fa-folder", Some(routes.Application.adminUIProjectList())))
)
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
        @if(projectForm("id").value.getOrElse("-1").toInt == -1)  {
            <h3 class="box-title">@messages("project.form.new")</h3>
        } else {
            <h3 class="box-title">@messages("project.form.edit") - @projectForm("name").value.get</h3>
        }
        </div><!-- /.box-header -->
        <!-- form start -->
        @helper.form(routes.FormEditController.projectFormPost(parentId, projectForm("id").value.getOrElse("-1").toLong), 'class -> "form-horizontal") {
            <div class="box-body">
                <div class="form-group" style="display:none;">
                    @text(projectForm("id"),
                        label = messages("project.form.field.id"),
                        placeholder = "-1",
                        default = "-1",
                        readOnly = true
                    )
                </div>
                @select(projectForm("enabled"),
                    label = messages("project.form.field.visible"),
                    optionList = List(("true", "true"), ("false", "false")),
                    isMultiple = false,
                    help = messages("project.form.field.visible.help"),
                    defaultSelected = Some("false")
                )
                @text(projectForm("name"),
                    label = messages("project.form.field.name"),
                    placeholder = messages("project.form.field.name.placeholder"),
                    help = messages("project.form.field.name.help"),
                    readOnly = !user.isSuperUser
                )
                @textarea(projectForm("description"),
                    label = messages("project.form.field.description"),
                    rows = "5",
                    placeholder = messages("project.form.field.description.placeholder"),
                    help = messages("project.form.field.description.help")
                )
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">@messages("project.form.submit")</button>
                <a href="@routes.Application.adminUIProjectList()" class="btn btn-primary">@messages("project.form.cancel")</a>
            </div>
        }
    </div><!-- /.box -->
</section>
