@import org.maproulette.models.Survey
@import views.html.admin.forms.elements._
@import org.maproulette.actions.Actions
@(parentId:Long, surveyForm:Form[Survey])(implicit messages: Messages)

@views.html.admin.common.header("Administration", null,
    Map("Surveys" -> routes.Application.adminUIChildList(Actions.ITEM_TYPE_SURVEY_NAME, parentId)))
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
        @if(surveyForm("challenge.id").value.getOrElse("-1").toInt == -1)  {
            <h3 class="box-title">Create New Survey</h3>
        } else {
            <h3 class="box-title">Edit Survey</h3>
        }
        </div><!-- /.box-header -->
        <!-- form start -->
        @helper.form(routes.FormEditController.surveyFormPost(parentId, surveyForm("challenge.id").value.getOrElse("-1").toLong), 'class -> "form-horizontal") {
            <div class="box-body">
                <div class="form-group" style="display:none;">
                    @text(surveyForm("challenge.id"),
                        label = "id",
                        placeholder = "-1",
                        default = "-1",
                        readOnly = true
                    )
                </div>
                <div class="form-group" style="display:none;">
                    @text(surveyForm("challenge.parent"),
                        label = "Parent ID",
                        placeholder = "-1",
                        default = parentId + "",
                        readOnly = true
                    )
                </div>
                <div class="form-group" style="display:none;">
                    @text(surveyForm("challenge.challengeType"),
                        label = "Challenge Type",
                        placeholder = Actions.ITEM_TYPE_SURVEY+"",
                        default = Actions.ITEM_TYPE_SURVEY+"",
                        readOnly = true
                    )
                </div>
                <div class="form-group">
                    @select(surveyForm("challenge.enabled"),
                        label = "Enabled",
                        optionList = List(("true", "true"), ("false", "false")),
                        isMultiple = false,
                        help = "Please set whether the survey is enabled or not.",
                        defaultSelected = Some("true")
                    )
                </div>
                <div class="form-group">
                    @text(surveyForm("challenge.name"),
                        label = "Name",
                        placeholder = "Survey Name",
                        help = "Please enter the survey name. (required)"
                    )
                </div>
                <div class="form-group">
                    @textarea(surveyForm("challenge.description"),
                        label = "Description",
                        rows = "5",
                        placeholder = "Survey Description",
                        help = "Please enter the description for the survey. (optional)"
                    )
                </div>
                <div class="form-group">
                    @textarea(surveyForm("challenge.blurb"),
                        label = "Blurb",
                        rows = "5",
                        placeholder = "Survey Blurb",
                        help = "Please enter the blurb for the survey. (optional)"
                    )
                </div>
                <div class="form-group">
                @select(surveyForm("challenge.difficulty"),
                    label = "Difficulty",
                    optionList = List(("Easy", "1"), ("Normal", "2"), ("Difficult", "3")),
                    isMultiple = false,
                    help = "Please enter the difficulty level for the survey",
                    defaultSelected = Some("2")
                )
                </div>
                <div class="form-group">
                    @text(surveyForm("challenge.instruction"),
                        label = "Question",
                        placeholder = "Survey Question",
                        help = "Please enter the question for the survey. (optional)"
                    )
                </div>
                <!--
                    This should be dynamic, but until I sort this out, limited to
                    two answers. Don't have time to focus on Survey's which is not
                    the main focus of Map Roulette
                -->
                @helper.repeat(surveyForm("answers"), min = 2) { answerField =>
                    <div class="form-group">
                        <div class="col-lg-1"></div>
                        <div class="col-xs-1" style="display:none;">
                            @text(surveyForm(answerField.name.toString + ".id"),
                                label = "ID",
                                placeholder = "-1",
                                default = "-1",
                                readOnly = true
                            )
                        </div>
                        <div class="col-lg-9">
                        @text(surveyForm(answerField.name.toString + ".answer"),
                            label = "Answer",
                            placeholder = "Survey Answer",
                            readOnly = surveyForm("challenge.id").value match {
                                case Some(v) => v.toLong != -1
                                case None => false
                            }
                        )
                        </div>
                    </div>
                }
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" href="@routes.Application.adminUIChildList("Survey", parentId)">Cancel</a>
            </div>
        }
    </div><!-- /.box -->
</section>
