@import views.html.admin.forms.elements._
@import org.maproulette.models.Task
@import org.maproulette.models.Challenge
@(projectId:Long, parentId:Long, parentType:String, taskForm:Form[Task])(implicit messages: Messages)

@views.html.admin.common.header(messages("tasks.form.administration.title"), null,
  Map(
    messages("tasks.form.administration.projects") -> ("fa fa-folder", routes.Application.adminUIProjectList()),
    messages("tasks.form.administration.challenges") -> ("", routes.Application.adminUIChildList(parentType, projectId)),
    messages("tasks.form.administration.tasks") -> ("", routes.Application.adminUITaskList(projectId, parentType, parentId))
  )
)
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
    @if(taskForm("id").value.getOrElse("-1").toInt == -1)  {
      <h3 class="box-title">@messages("tasks.form.new")</h3>
    } else {
      <h3 class="box-title">>@messages("tasks.form.edit")</h3>
    }
    </div><!-- /.box-header -->
    <!-- form start -->
    @helper.form(routes.FormEditController.taskFormPost(projectId, parentId, parentType, taskForm("id").value.getOrElse("-1").toLong), 'class -> "form-horizontal") {
      <div class="box-body">
        <div class="form-group" style="display:none;">
        @text(taskForm("id"),
          label = messages("tasks.form.field.id"),
          placeholder = "-1",
          default = "-1",
          readOnly = true
        )
        </div>
        <div class="form-group" style="display:none;">
        @text(taskForm("parent"),
          label = messages("tasks.form.field.parent"),
          placeholder = "-1",
          default = parentId+"",
          readOnly = true
        )
        </div>
        <div class="form-group">
        @text(taskForm("name"),
          label = messages("tasks.form.field.name"),
          placeholder = messages("tasks.form.field.name.placeholder"),
          help = messages("tasks.form.field.name.help")
        )
        </div>
        <div class="form-group">
        @textarea(taskForm("instruction"),
          label = messages("tasks.form.field.instruction"),
          rows = "5",
          placeholder = messages("tasks.form.field.instruction.placeholder"),
          help = messages("tasks.form.field.instruction.help")
        )
        </div>
        <div class="form-group">
        @textarea(taskForm("geometries"),
          label = messages("tasks.form.field.geojson"),
          rows = "5",
          placeholder = messages("tasks.form.field.geojson.placeholder"),
          help = messages("tasks.form.field.geojson.help")
        )
        </div>
        <div class="form-group">
        @select(taskForm("status"),
          label = messages("tasks.form.field.status"),
          optionList = Task.statusMap.map(e => (e._2, e._1+"")).toList,
          isMultiple = false,
          help = messages("tasks.form.field.status.help"),
          defaultSelected = Some(Task.STATUS_CREATED.toString)
        )
        </div>
        <div class="form-group">
        @select(taskForm("priority"),
          label = messages("tasks.form.field.priority"),
          optionList = List(("High", Challenge.PRIORITY_HIGH+""), ("Medium", Challenge.PRIORITY_MEDIUM+""), ("Low", Challenge.PRIORITY_LOW+"")),
          isMultiple = false,
          help = messages("tasks.form.field.priority.help"),
          defaultSelected = Some(Task.STATUS_CREATED.toString)
        )
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">@messages("tasks.form.submit")</button>
        <a class="btn btn-primary" href="@routes.Application.adminUITaskList(projectId, parentType, parentId)">@messages("tasks.form.cancel")</a>
      </div>
    }
  </div><!-- /.box -->
</section>
