@import org.maproulette.models.Project
@import views.html.admin.forms.elements._
@(projects:List[Project])(implicit messages: Messages)
<!-- Modal -->
<div id="addtoproject_modal" class="modal fade modal-default" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box box-solid box-primary" align="center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--iframe width="420" height="315" src="https://www.youtube.com/embed/pXPXMxsXT28" frameborder="0" allowfullscreen></iframe-->
                <div class="box-body">
                    <label>@messages("users.addto.title")</label>
                    <div class="form-group" style="display:none;">
                        @text(Field(null, "userId", Seq(), None, Seq(), None),
                            label = messages("users.addto.field.id"),
                            default = "-1"
                        )
                    </div>
                    <div class="form-group">
                        @select(Field(null, "projects", Seq(), None, Seq(), None),
                            label = messages("users.addto.field.projects"),
                            optionList = projects.map(proj => (proj.name, proj.id+"")),
                            isMultiple = false,
                            help = messages("users.addto.field.projects.help")
                        )
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary btn-large btn-action pull-left" onclick="addUser();">@messages("users.addto.action.add")</button>
                    <button type="button" class="btn btn-primary btn-large btn-action pull-right" data-dismiss="modal" >@messages("users.addto.action.cancel")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
var addUser = function() {
    var projectId = $("#projects").val();
    var projectName = $("#projects").text();
    var userId = $("#userId").val();
    jsRoutes.controllers.AuthController.addUserToProject(userId, projectId).ajax({
        success:function() {
            toastr.info("@messages("users.addto.success") " + projectName);
        },
        error:Utils.handleError
    });
    $("#addtoproject_modal").modal("hide");
    location.reload();
};
</script>
