@import org.maproulette.session.User
@import org.maproulette.Config
@import org.maproulette.models.Challenge
@import org.maproulette.actions.ActionItem
@(title:String, user:User, config:Config, hotChallenges:List[Challenge],
        newChallenges:List[Challenge], featuredChallenges:List[Challenge],
        recentActivity:List[ActionItem])(content:Html)(implicit req: play.api.mvc.RequestHeader,
        messages: Messages, webJarAssets: WebJarAssets)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@title</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        @views.html.includes.cssIncludes(config.isDebugMode)
        @views.html.includes.jsIncludes(user, config.isDebugMode)
    </head>
    <body class="hold-transition @{user.theme} @{if (user.guest) { "sidebar-collapse" } else { "" }} sidebar-mini">
        <div class="wrapper">

                <!-- Main Header -->
            <header id="header" class="main-header">

                    <!-- Logo -->
                <a href="/" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img style="height:25px;width:25px" src="@config.logoURL" alt="logo"></span>
                        <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img style="height:25px;width:25px" src="@config.logoURL" alt="logo"> <b>Map</b>Roulette</span>
                </a>

                    <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->
                    <a id="sidebar_toggle" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    @views.html.user.userInfo(user)
                </nav>
            </header>
                <!-- Left side column. contains the logo and sidebar -->
            <aside id="sidebar" class="main-sidebar">
                @views.html.user.sidebar(user, newChallenges, hotChallenges, featuredChallenges)
            </aside>

                <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                @content
            </div>

            <!-- Main Footer -->
            <footer id="footer" class="main-footer">
                    <!-- To the right -->
                <div class="pull-right hidden-xs">
                    <a href="#" id="pi" data-toggle="modal" data-target="#geoJsonViewer" onclick='MRManager.updateGeoJsonViewer();'>&pi;</a>
                </div>
                    <!-- Default to the left -->
                <strong>Copyright &copy; 2016 <a href="#">MapRoulette Version @{config.getSemanticVersion}</a>.</strong> All rights reserved.
            </footer>

                <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                    <!-- Create the tabs -->
                @views.html.user.rightSidebar(recentActivity)
            </aside>
            <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    </body>
</html>
<script type="application/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip({container:'body'});
    });
    if (typeof MRManager === 'undefined') {
        $("#pi").remove();
    }
</script>
