@import org.maproulette.session.User
@import org.maproulette.Config
@import org.maproulette.models.Challenge
@import org.maproulette.actions.ActionItem
@(title:String, user:User, config:Config, hotChallenges:List[Challenge],
        newChallenges:List[Challenge], featuredChallenges:List[Challenge],
        recentActivity:List[ActionItem], savedChallenges:List[Challenge])(content:Html)(implicit req: play.api.mvc.RequestHeader,
        messages: Messages, webJarAssets: WebJarAssets)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@title</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        @views.html.includes.cssIncludes(config.isDebugMode)
        @views.html.includes.jsIncludes(user, config.isDebugMode)
        <script language="JavaScript">
            // build user information that can be accessed by other Javascript scripts
            var LoggedInUser = {
                userId:@user.id,
                defaultEditor:@user.settings.defaultEditor.getOrElse(-1),
                defaultBasemap:@user.settings.defaultBasemap.getOrElse(-1),
                customBasemap:"@user.settings.customBasemap.getOrElse("")"
            };
        </script>
    </head>
    <body class="hold-transition @{user.settings.getTheme} @{if (user.guest) { "sidebar-collapse" } else { "" }} sidebar-mini">
        <div class="wrapper">

                <!-- Main Header -->
            <header id="header" class="main-header">

                    <!-- Logo -->
                <a href="/" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img style="height:25px;width:25px" src="@config.logoURL" alt="logo"></span>
                        <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img style="height:25px;width:25px" src="@config.logoURL" alt="logo"> <b> @messages("general.titleA")</b>@messages("general.titleB")</span>
                </a>

                    <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->
                    <a id="sidebar_toggle" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    @views.html.controls.topBar(user, config)
                </nav>
            </header>
                <!-- Left side column. contains the logo and sidebar -->
            <aside id="sidebar" class="main-sidebar">
                @views.html.controls.leftSidebar(user, config, newChallenges, hotChallenges, featuredChallenges, savedChallenges)
            </aside>

                <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                @content
            </div>

            <!-- Main Footer -->
            <footer id="footer" class="main-footer">
                <div id='comments-link' class='hidden-xs' style='display: none;'>
                    <a href='#' id='show-comments' data-toggle='popover' data-trigger='focus' role='button' tabindex='0'>
                        <i class='fa fa-commenting-o' aria-hidden='true'> @messages("mapping.js.task.comments")</i>
                    </a>
                </div>

                <div id="hotkey-cheatsheet-link" class="hidden-xs" style="display: none;">
                  <a href="#" id="show-hotkeys" data-toggle="popover" data-trigger="focus" role="button" tabindex="0">@messages("mapping.js.cheatkeys.show")</a>
                </div>

                    <!-- To the right -->
                <div class="pull-right hidden-xs">
                    <a href="/docs/swagger-ui/index.html?url=/assets/swagger.json" target="_blank">@messages("general.api")</a>
                    <a href="#" id="pi" data-toggle="modal" data-target="#geoJsonViewer" onclick='MRManager.updateGeoJsonViewer();'>&pi;</a>
                </div>

                <div class="pull-right">
                    <b style="color:black"><a href="/mr3">Try out the new <u style="color:red">MapRoulette V3 Public Beta</u></a></b>
                    <b style="color:white">.................</b>
                </div>

                    <!-- Default to the left -->
                <strong>MapRoulette @{config.getSemanticVersion}</strong> - @messages("footer.getintouch"): <a href="https://github.com/maproulette/maproulette2">GitHub</a> / <a href="mailto:maproulette@@maproulette.org">@messages("general.email")</a>

                <div class="clearfix" />
              </footer>

                <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                    <!-- Create the tabs -->
                @views.html.controls.rightSidebar(recentActivity)
            </aside>
            <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    </body>
</html>
<script type="application/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip({container:'body'});
    });
    if (typeof MRManager === 'undefined') {
        $("#pi").remove();
    }
</script>
