@import org.maproulette.session.User
@(user:User, debugMode:Boolean, parentId:Long=(-1), taskId:Long=(-1), challengeView:Boolean=false, searchView:Boolean=false)(implicit messages: Messages, req: play.api.mvc.RequestHeader, webJarAssets: WebJarAssets)
@minified() = {@{debugMode match { case true => ".min"; case false => "" }}}
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/mapping.css")"/>
<link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("leaflet.css"))"/>
<link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("dist/MarkerCluster.css"))"/>
<link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("dist/MarkerCluster.Default.css"))"/>
<script src="@routes.WebJarAssets.at(webJarAssets.locate("leaflet.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate("dist/leaflet.markercluster.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate("leaflet.spin.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"spin${minified()}.js"))"></script>
<script src="@routes.Assets.versioned("javascripts/metrics.js")"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate(s"dist/Chart${minified()}.js"))"></script>

<div id="map"></div>
<div id="information" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div id="infoText" class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/mapping.js")"></script>
<script>
    $(document).ready(function() {
        MRManager.init(@{ if (!user.guest) {"true"} else {"false"}}, 'map', new Point(@{user.osmProfile.homeLocation.latitude}, @{user.osmProfile.homeLocation.longitude}));
        if (@challengeView) {
            var filters = Utils.getQSParameterByName("statusFilters");
            MRManager.viewChallenge(@parentId, filters);
        } else if (@searchView) {
            MRManager.getSearchedClusteredPoints();
        } else {
            MRManager.addTaskToMap(@parentId, @taskId);
        }
    });
</script>

    <!-- Modal -->
<div id="geoJsonViewer" class="modal fade modal-primary top-item" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box box-solid box-primary" align="center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--iframe width="420" height="315" src="https://www.youtube.com/embed/pXPXMxsXT28" frameborder="0" allowfullscreen></iframe-->
                <div class="box-body">
                    <label>GeoJson Viewer</label>
                    <textarea id="geojson_text" class="form-control" rows="10" placeholder=""></textarea>
                </div>
                <div class="box-footer">
                    <button id="geojson_submit" class="btn btn-primary btn-large btn-action pull-left">Submit</button>
                    <p>For details about GeoJSON, <a href="http://geojson.org/geojson-spec.html" target="_blank">read the spec</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
